<%= render :partial => 'help/help_tabs' %>

<div id="panel1" class="help_panel">
  <%= render :partial => 'help/help_search' %>
  <%= render :partial => 'help/help_search_posts' %>
</div>
<div id="panel2" class="help_panel hidden">
  <h2>Panel 2</h2>
</div>