<div id="help_search">
  <% form_tag providers_path, :method => :get do %>
    <%= text_field_tag(:search, nil, {:size => 52, :class => "left"} )%>
    <div id="search_buttons">
      <%= submit_tag "Search", :name => nil, :class => 'medium_btn tip', :title => "Submit Search" %>
      <%= link_to "Clear", "", :id => "search_clear", :class => "tip", :title => "Clear Search Field" %>
    </div>
    <% end %>
    <div class="clear"></div>
</div>