<div id="page_header">
  <h2>
    Help Center
  </h2>
  <ul class="page_nav">
    <li class="last">
      <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Help Center Tutorials", :rel => "#tutorial_modal", :tutorial_page => help_center_tutorials_path() %>
    </li>
  </ul>
</div>