<% page_title "Nucleus Help Center"%>

<% content_for :page_header do %>
  <%= render :partial => 'help/help_page_header', :locals => {:provider => @provider} %>
<% end %>

<div id="centered_layout" class="help_panels clear">
  <div id="help_center_wrap" class="inner_box">
    <div id="help_west" class="panel grey">
      <%= render :partial => 'help/help_west' %>
    </div>
    <div id="help_center_tabs" class="panel">
      <%= render :partial => 'help/help_center' %>
    </div>
    <div id="help_east" class="panel grey">
      <%= render :partial => 'help_east' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      app.centeredHeight();
      <% if ipad? %>
      scroll.setiPadHelpScroll();
      <% end %>
      app.tutorialTrigger();
      app.triggerVideo();
      // panels.helpTabs();
    });
  </script>
<% end %>
