<%= render :partial => 'help/help_page_header', :locals => {:provider => @provider} %>
<div id="panel_layout" class="clear">
  <div id="inner_panel" class="panel ui-layout-center">
    
  </div>
  <div id="panel_south" class="ui-layout-south">
    
  </div>
</div>
<div class="clear"></div>

<% content_for :javascripts do %>
  
<% end %>