<%= render :partial => 'help/help_page_header', :locals => {:provider => @provider} %>
<div id="panel_layout" class="help_panels clear">
  <div class="panel ui-layout-west">
    <%= render :partial => 'help/help_west' %>
  </div>
  <div class="panel ui-layout-center">
    <%= render :partial => 'help/help_center' %>
  </div>
  <div class="panel ui-layout-east">
    <%= render :partial => 'help_east' %>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.scroll_nav_trigger').live('click', function(e) {
        scroll.setScroll($(this));
        e.preventDefault();
      });
      baseActions.tutorialTrigger();
    });
  </script>
<% end %>
