<div id="accordion_stat_left_chart" class="accordion_graph_box half"></div>
<div id="accordion_stat_middle_chart" class="accordion_graph_box half"></div>
<div id="accordion_stat_right_chart" class="accordion_graph_box"></div>