<div id="page_header">
  <h2>
    Provider Action
  </h2>
  <ul class="page_nav">
    <li>
      <%= link_to "Profile", provider_path(provider), :class => "tip", :title => "Provider Profile" %>
    </li>
    <li>
      <%= link_to "Refresh", provider_action_path(provider), :class => "tip", :title => "Refresh Page" %>
    </li>
    <li class="last">
      <%= link_to "Print", "#", :class => "tip", :title => "Print Page" %>
    </li>
  </ul>
</div>