  <h3>Provider Name: <span><%= provider.full_name %></span></h3>
  <div id="provider_rating" class="<%= provider.score_color(provider)%>_rating"><%= link_to "#{provider.provider_score}", provider_path(provider) %></div>