      <div class="basic_panel">
        <div id="provider_stats">
          <div class="stat_group">
            <div class="stat_title left">Lines</div>
            <div class="stat_value left">33.1%</div>
            <div class="stat_range left">38 of 117 Lines</div>
          </div>
          <div class="stat_group">
            <div class="stat_title left">Procedures</div>
            <div class="stat_value left">50.0%</div>
            <div class="stat_range left">12 of 24 Procedures</div>
          </div>
          <div class="stat_group">
            <div class="stat_title left">Patients</div>
            <div class="stat_value left">25.7%</div>
            <div class="stat_range left">130 of 506 Patients</div>
          </div>
          <div class="stat_group">
            <div class="stat_title left">Claims</div>
            <div class="stat_value left">18.3%</div>
            <div class="stat_range left">25 of 134 Patients</div>
          </div>
          <div class="stat_group">
            <div class="stat_title left">Savings</div>
            <div class="stat_value left">23.5%</div>
            <div class="stat_range left">$12,766 of $54,326 Paid</div>
          </div>
          <div class="stat_group">
            <div class="stat_title left">Billed</div>
            <div class="stat_value left">34.2%</div>
            <div class="stat_range left">$328,728 of $983,973 Billed</div>
          </div>
        </div>
      </div>