<div class="widget_data score <%= provider.score_color(provider)%>_rating">
  <%= link_to "#{provider.provider_score}", provider_action_path %>
</div>
<div class="widget_data name">
  <h3><%= link_to "#{provider.full_name}", provider_path(provider), :class => "provider_container_trigger", :provider_id => provider.id %></h3>
</div>
<div class="widget_data billed">
  <h3><%= number_to_currency(provider.provider_stat.total_billed_count) %></h3>
</div>
