<div id="page_header">
  <h2>
    Provider Profile
  </h2>
  <ul class="page_nav">
    <li>
      <%= link_to "Claim History", "" %>
    </li>
    <li>
      <%= link_to "Action", provider_action_path %>
    </li>
    <li>
      <%= link_to "Print", "#" %>
    </li>
    <li class="last">
      <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Provider Profile Tutorials", :rel => "#tutorial_modal", :tutorial_page => provider_profile_tutorials_path() %>
    </li>
  </ul>
</div>