<div class="scaffold_panel">
  <h2>Edit Provider</h2>
  <%= render :partial => 'providers/edit_form' %>
  <%= link_to 'Back', providers_path %>
</div>
<%= link_to 'Show', @provider %> |
<%= link_to 'Back', providers_path %>