<div id="federal_sanctions_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">Federal Sanctions</h4>
  <table id="provider_license" class="accordion_table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>State</th>
        <th>Zip</th>
        <th>Sanction Type</th>
        <th>Sanction Description</th>
        <th>Sanction Date</th>
        <th>Reinstate Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class='even'>
        <td class="federal_sanction_last_name">Smith</td>
        <td class="federal_sanction_first_name">Edward</td>
        <td class="federal_sanction_state">FL</td>
        <td class="federal_sanction_zip">32835</td>
        <td class="federal_sanction_type"></td>
        <td class="federal_sanction_description"></td>
        <td class="federal_sanction_date">1/15/2002</td>
        <td class="federal_sanction_reinstate">12/31/2011</td>
      </tr>
    </tbody>
  </table>
</div>