<div id="provider_license_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">License Information</h4>
  <table id="provider_license" class="accordion_table">
    <thead>
      <tr>
        <th>License Number</th>
        <th>State</th>
        <th>Type</th>
        <th>Status</th>
        <th>Effective</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr class='even'>
        <td class="provider_license_license_number">45345</td>
        <td class="provider_license_state">FL</td>
        <td class="provider_license_type">ME</td>
        <td class="provider_license_statue">A</td>
        <td class="provider_license_effective">3/15/2000</td>
        <td class="provider_license_expires"></td>
      </tr>
      <tr class='odd'>
        <td class="provider_license_license_number">59875</td>
        <td class="provider_license_state">CA</td>
        <td class="provider_license_type">G</td>
        <td class="provider_license_statue">I</td>
        <td class="provider_license_effective">4/20/1996</td>
        <td class="provider_license_expires">4/20/1999</td>
      </tr>
    </tbody>
  </table>
</div>