<div id="provider_license_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">License Information</h4>
  <table id="provider_license" class="accordion_table">
    <thead>
      <tr>
        <th>License Number</th>
        <th>State</th>
        <th>Type</th>
        <th>Statue</th>
        <th>Effective</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr class='even'>
        <td class="provider_license_license_number">5223264</td>
        <td class="provider_license_state">TX</td>
        <td class="provider_license_type"></td>
        <td class="provider_license_statue"></td>
        <td class="provider_license_effective">1/1/2001</td>
        <td class="provider_license_expires">12/31/2010</td>
      </tr>
      <tr class='odd'>
        <td class="provider_license_license_number">7842189</td>
        <td class="provider_license_state">UT</td>
        <td class="provider_license_type"></td>
        <td class="provider_license_statue"></td>
        <td class="provider_license_effective">5/1/2008</td>
        <td class="provider_license_expires">12/31/2010</td>
      </tr>
    </tbody>
  </table>
</div>