<div id="prospect_demographic_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">Specialty Information</h4>
  <table id="provider_demographic" class="accordion_table">
    <thead>
      <tr>
        <th>Taxonomy</th>
        <th>Taxonomy Type</th>
        <th>Taxonomy Classification</th>
        <th>CMS Code</th>
        <th>CMS Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class='<%=cycle('even', 'odd')%>'>
        <td class="taxonomy_taxonomy"></td>
        <td class="taxonomy_type"></td>
        <td class="taxonomy_classifications"></td>
        <td class="taxonomy_cms"></td>
        <td class="taxonomy_cms_code"></td>
      </tr>
    </tbody>
  </table>
</div>