<div id="prospect_demographic_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">Provider NPI</h4>
  <table id="provider_demographic" class="accordion_table">
    <thead>
      <tr>
        <th>NPI</th>
        <th>NPI DRC</th>
        <th>Taxonomy</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr class='<%=cycle('even', 'odd')%>'>
        <td class="npi_npi">2131</td>
        <td class="npi_drc">53</td>
        <td class="npi_tax"></td>
        <td class="npi_rank">90</td>
      </tr>
    </tbody>
  </table>
</div>