<div id="prospect_demographic_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">Hospital Affiliation</h4>
  <table id="provider_demographic" class="accordion_table">
    <thead>
      <tr>
        <th>Hospital Name</th>
        <th>Status</th>
        <th>Effective Date</th>
        <th>Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class='<%=cycle('even', 'odd')%>'>
        <td class="hospital_name">South Miami Hospital</td>
        <td class="hospital_status">Active</td>
        <td class="hospital_effective">04/14/2009</td>
        <td class="hospital_expiration">12/31/2011</td>
      </tr>
    </tbody>
  </table>
</div>