<div id="suspect_provider_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">Provider Credentials</h4>
  <table id="suspect_provider" class="accordion_table">
    <thead>
      <tr>
        <th>Degree</th>
        <th>Crosswalk Speciality</th>
        <th>Client Speciality</th>
        <th>HCI Speciality</th>
      </tr>
    </thead>
    <tbody>
      <tr class='<%=cycle('even', 'odd')%>'>
        <td class="credential_degree">Yes</td>
        <td class="credential_crosswalk">Dental</td>
        <td class="credential_client">Dental</td>
        <td class="credential_hci">Dental</td>
      </tr>
    </tbody>
  </table>
</div>