<div id="prospect_demographic_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">Provider DEA</h4>
  <table id="provider_demographic" class="accordion_table">
    <thead>
      <tr>
        <th>DEA Number</th>
        <th>Activity Type</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr class='<%=cycle('even', 'odd')%>'>
        <td class="dea_dea">34889</td>
        <td class="dea_activity">Annual</td>
        <td class="dea_expires">12/31/2012</td>
      </tr>
    </tbody>
  </table>
</div>