<div id="federal_sanctions_table" class="accordion_table_wrap">
  <h4 class="accordion_table_header">State Board Sanctions</h4>
  <table id="provider_license" class="accordion_table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>License #</th>
        <th>State</th>
        <th>Sanction Date</th>
        <th>Sanction Code</th>
        <th>Case Number</th>
        <th>Source</th>
        <th>Action</th>
        <th>Reinstate Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class='even'>
        <td class="state_sanction_last_name">Smith</td>
        <td class="state_sanction_first_name">Edward</td>
        <td class="state_sanction_license">12548965</td>
        <td class="state_sanction_state">FL</td>
        <td class="state_sanction_date">1/15/2002</td>
        <td class="state_sanction_code">XYZ</td>
        <td class="state_sanction_case_number">546235</td>
        <td class="state_sanction_source"></td>
        <td class="state_sanction_action"></td>
        <td class="state_sanction_reinstate">12/31/2011</td>
      </tr>
    </tbody>
  </table>
</div>