<div class="top_provider_block top_provider_score">Score</div>
<div class="top_provider_block top_provider_name">Provider Name</div>
<div class="top_provider_block top_provider_billed">Total Billed</div>
