<div class="widget_table_data">
  <div class="widget_data risk risk_high"></div>
  <div class="widget_data exp">
   <h3>$200,551.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "73", "" %>
  </div>
  <div class="widget_data percentage">
    2.5%
  </div>
</div>
<div class="widget_table_data">
  <div class="widget_data risk risk_elevated">
  
  </div>
  <div class="widget_data exp">
   <h3>$212,889.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "297", "" %>
  </div>
  <div class="widget_data percentage">
    6.8%
  </div>
</div>
<div class="widget_table_data">
  <div class="widget_data risk risk_mod">
  
  </div>
  <div class="widget_data exp">
   <h3>$214,568.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "463", "" %>
  </div>
  <div class="widget_data percentage">
    11.6%
  </div>
</div>
<div class="widget_table_data">
  <div class="widget_data risk risk_low">
  
  </div>
  <div class="widget_data exp">
   <h3>$184,565.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "3,487", "" %>
  </div>
  <div class="widget_data percentage">
    35%
  </div>
</div>