<div id="page_header">
  <h2>
    Quick Launch
  </h2>
  <div id="tutorial_trigger">
    <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Provider Action Tutorials", :rel => "#tutorial_modal", :tutorial_page => quick_launch_tutorials_path() %>
  </div>
  <ul class="page_nav">
    <li class="last">
      <%= link_to "Customize", "", :id => "options_trigger", :class => "tip", :title => "Customize Quick Launch" %>
    </li>
  </ul>
</div>