<div id="page_header">
  <h2>
    Quick Launch
    <div id="tutorial_trigger">
      <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Provider Action Tutorials", :rel => "#tutorial_modal", :tutorial_page => quick_launch_tutorials_path() %>
    </div>
  </h2>
  <ul class="page_nav">
    <li class="last">
      <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Quick Launch Tutorials", :rel => "#tutorial_modal", :tutorial_page => quick_launch_tutorials_path() %>
    </li>
  </ul>
</div>