<%= render :partial => 'dashboard/dashboard_header' %>
<div id="panel_layout" class="clear">
  <div id="dashboard">
    <div id="top_left_dashboard" class="graph_box">
      <h2 class="main_header">Top 5 Providers Alert</h2>
      <div id="panel_header" class="basic_panel">
       <%= render :partial => 'dashboard/dashboard_top_provider_heading', :locals => {:provider => p} %>
      </div>
      <% @top_providers.each do |p| %>
      <div class="dashboard_basic_panel">
        <%= render :partial => 'providers/provider_dashboard_heading', :locals => {:provider => p} %>
      </div>
      <% end %>
    </div>
    <div id="top_right_chart" class="graph_box"></div>
    <div id="bottom_left_chart" class="graph_box"></div>
    <div id="bottom_right_chart" class="graph_box"></div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

      // Scatter Plot
      $.getScript('javascripts/data/scatterData.js');

      // Bar Graph
      $.getScript('javascripts/data/barData.js');

      // Line Chart
      $.getScript('javascripts/data/lineData.js');
      
      drag.setupQuickLaunch("#dashboard", "graph_box", 1000);
      drag.loadQuickLaunchOrder("#dashboard", "graph_box");

    });
  </script>
<% end %>