<div id='dashboard'>
  <%#= link_to '<div id="top_left_chart" class="graph_box"></div>', provider_search_path %>
  <div id="top_left_chart" class="graph_box"></div>
  <div id="top_right_chart" class="graph_box"></div>
  <div id="bottom_left_chart" class="graph_box"></div>
  <div id="bottom_right_chart" class="graph_box"></div>
</div>