<%= render :partial => 'dashboard/dashboard_header' %>
<div id="panel_layout" class="clear">
  <div id="dashboard">
    <div id="dash1" class="top_left_dashboard graph_box">
      <h2 class="main_header">Top 5 Providers Alert</h2>
      <div id="panel_header" class="basic_panel">
       <%= render :partial => 'dashboard/dashboard_top_provider_heading', :locals => {:provider => p} %>
      </div>
      <% @top_providers.each do |p| %>
      <div class="dashboard_basic_panel">
        <%= render :partial => 'providers/provider_dashboard_heading', :locals => {:provider => p} %>
      </div>
      <% end %>
    </div>
    
    <div id="dash2" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        Provider Distribution Profiles
      </div>
      <div id="top_right_chart" class="chart">

      </div>
    </div>
    
    <div id="dash3" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        Cases Opened by Provider Type
      </div>
      <div id="bottom_left_chart" class="chart">

      </div>
    </div>
    
    <div id="dash4" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        Indentified Savings vs. Accepted Savings
      </div>
      <div id="bottom_right_chart" class="chart">

      </div>
    </div>

  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.scroll_nav_trigger').live('click', function(e) {
        scroll.setScroll($(this));
        e.preventDefault();
      });
      baseActions.tutorialTrigger();
        
      // Scatter Plot
      $.getScript('javascripts/data/scatterData.js');
      // Bar Graph
      $.getScript('javascripts/data/barData.js');
      // Line Chart
      $.getScript('javascripts/data/lineData.js');
      
      drag.setupDashboardPanels("#dashboard", "dashboardCookie", 1000);
      drag.loadQuickLaunchOrder("#dashboard", "dashboardCookie");

    });
  </script>
<% end %>