<%= render :partial => 'layouts/inner_page_header' %>
<div id="panel_layout">
  <div id="panel_west" class="ui-layout-west ui-layout-pane ui-layout-pane-west open">
    <%= render :partial => 'dashboard/search' %>
    <div id="west_resizer">
      <div class="resize_vert"></div>
    </div>
  </div>
  <div id="panel_main" class="panel ui-layout-center">
    <div id="panel_south" class="ui-layout-south ui-layout-pane ui-layout-pane-south open">
      <div id="south_resizer">
        <div class="resize_horz"></div>
      </div>
    </div>
  </div>
</div>
