<div id="post_header">
  <div id="search_wrap">
    <form action="http://google.com/search" method="get" class="search" target="_blank">
        <input type="text" name="q" size="45" value="search all activity"/>
        <button type="submit" class="search_btn" title="Google Search">Search</button>
    </form>
  </div>
</div>