<%= render :partial => 'messages/message_header' %>
<div id="panel_layout" class="clear">
    <%= image_tag('misc/message.jpg', :alt => "Nucleus Message Center" ) %>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  
<% end %>