<div id="test" class="rssFeed">
  <div class="rssHeader"><
    <a>... (heading) ...</a>
  </div>
  <div class="rssBody"></div>
    <ul>
      <li class="rssRow odd">
        <h4><a>... (title) ...</a></h4>
        <div>... (date) ...</div>
        <p>... (description) ...</p>
      <li>
    </ul>
  </div>
</div>