<div class="scaffold_panel">
  <h2>Edit Provider Group</h2>
  <%= render :partial => 'provider_groups/form' %>
  <%= link_to 'Show', @provider_group %> |
  <%= link_to 'Back', provider_groups_path %>
</div>