<table class="expansion_table">
  <thead>
    <tr>
      <th>Flap Count</th>
      <th>Repair Count</th>
      <th class="tip" title="Percentage of flap services to total repair">Flap Percentage</th>
      <th class="tip" title="Total Billed: Flap Services">Billed</th>
      <th class="tip" title="Total Paid: Flap Services">Paid</th>
      <th class="tip" title="Specialty Average Flap Percentage">Spec Avg Flap Pct</th>
      <th class="tip" title="Specialty Flap Average Billed">Spec Avg Billed Billed</th>
      <th class="tip" title="Specialty Flap Average Paid">Spec Avg Paid Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sfro_count"></td>
      <td class="sfro_repair_count"></td>
      <td class="sfro_repair_percentage"></td>
      <td class="sfro_billed"></td>
      <td class="sfro_paid"></td>
      <td class="sfro_avg_percentage"></td>
      <td class="sfro_avg_billed"></td>
      <td class="sfro_avg_paid"></td>
    </tr>
  </tbody>
</table>