<div id="page_header">
  <h2>
    Claim Search
  </h2>
  <div id="tutorial_trigger">
    <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Provider Action Tutorials", :rel => "#tutorial_modal", :tutorial_page => claim_search_tutorials_path() %>
  </div>
  <ul class="page_nav">
    <li class="last">
      <%= link_to "Export", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Export" %>
    </li>
  </ul>
</div>