/***************************************************************************************/
/*************************************************************PROVIDER DASHBOARD********/
.v2 .top_provider_billed {
  width: 180px;
}
.v2 .top_provider_score {
  width: 83px;
}
.widget_component {
  position: relative;
  float: left;
  text-align: left;
  margin: 0px 10px;
}
.widget_component label {
  font-size: 12px;
}
.widget_component input[type="text"], .widget_component select {
  width: 100px;
}
.widget_controls {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.widget_options_panel_close {
  margin-left: 3px;
}
#dashboard ul#tab_nav {
  position: relative;
  float: left;
  width:994px;
  border-bottom: 1px solid #c0c0c0;
}
#dashboard ul#tab_nav li {
  position: relative;
  float: left;
  margin-right: 1px;
  height: 30px;
  text-align: center;
  background: #63c54a url(../images/message/button_bg-green.png) 0px 0px repeat-x;
}
#dashboard ul#tab_nav li:hover {
  background: #eee;
}
#dashboard ul#tab_nav li a {
  position: relative;
  float: left;
  height: 29px;
  padding:8px 30px;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #6bd450;
}
#dashboard ul#tab_nav li a:hover, #dashboard ul#tab_nav li.active a {
  text-decoration: none;
  color: #333;
  border-top: 1px solid #efefef;
}
 #dashboard ul#tab_nav li.active a {
   border-top: 1px solid #efefef;
 }
#dashboard ul#tab_nav li.active {
  background:none repeat scroll 0 0 #fff;
  border-color:#C0C0C0 #C0C0C0 #fff;
  border-style:solid;
  border-width:1px;
  margin-bottom:-2px;
  color: #333;
  height: 29px;
}
.dash_panel {
  border: 1px solid #c4c5c4;
  border-top: none;
  float:left;
  position:relative;
  width:992px;
  padding-bottom: 10px;
}
/**feed**/
ul#feeds {
  float:left;
  height:301px;
  margin:0;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:478px;
}
ul#feeds li {
  border-bottom:1px solid #C4C5C4;
  float:left;
  height:70px;
  padding:10px 5px;
  position:relative;
  width:453px;
}
ul#feeds li div.feed_date {
  background:url("../images/inner_pages/rss_date_bg.jpg") no-repeat scroll 0 0 transparent;
  float:left;
  font-size:11px;
  font-weight:bold;
  height:50px;
  margin-right:10px;
  padding:20px 8px 0;
  position:relative;
  text-align:center;
  width:55px;
  vertical-align: baseline/sub/super/top/text-top/middle/bottom/text-bottom/length/%;
}
ul#feeds li h3 {
  float: left;
  margin-bottom: 5px;
  width: 370px;
  height: 20px;
  font-weight: bold;
}
ul#feeds li div.feed_content {
  position: relative;
  float: left;
  width: 370px;
  height: 45px;
  overflow: hidden;
}
/***************************************************************************************/
/*************************************************************PROVIDER PROFILE**********/
.v2 #provider_rating, .v2 #provider_rating_full {
  background: #D3D4D4;
	font-size:23px;
	font-weight:bold;
	height:34px;
	position:absolute;
	padding:5px 0px 0 46px;
	right:0;
	top:0;
	width:55px;
	text-shadow: 0px 1px 0px #efefef;
}
.v2 #dashboard_providers #provider_rating, .v2 #dashboard_providers #provider_rating_full {
	position:relative;
  float:left;
  border-left: none;
  border-right: 1px solid #c0c0c0;
}
.v2 #provider_rating_full {
  top: 0px;
  left: 0px;
  padding:5px 0px 0 46px;
  margin-right: 25px;
}
.v2 #provider_rating.green_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') right -117px no-repeat;
}
.v2 #provider_rating_full.green_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') left -117px no-repeat;
}
.v2 #provider_rating.yellow_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') right -78px no-repeat;
}
.v2 #provider_rating_full.yellow_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') left -78px no-repeat;
}
.v2 #provider_rating.orange_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') right -39px no-repeat;
}
.v2 #provider_rating_full.orange_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') left -39px no-repeat;
}
.v2 #provider_rating.red_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') right 0px no-repeat;
}
.v2 #provider_rating_full.red_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left-v2.png') left 0px no-repeat;
}
.v2 .provider_heading_full h3 {
  margin-left: 100px;
}
.v2 .small_flag_panel {
  position: relative;
  float: left;
}
.v2 a.flag_panel {
  float:left;
}
.v2 .small_flag_panel .provider_flag_panel {
  background:url("../images/inner_pages/profile_flag_bgv2.jpg") repeat-x scroll left top #333333;
  color:#FFFFFF;
  float:left;
  font-size:12px;
  height:25px;
  margin:0 0 5px 6px;
  padding:0;
  position:relative;
  text-align:center;
  width:159px;
}
.v2 .small_flag_panel .provider_flag_panel.first {
  margin-left: 0px;
}
.v2 .small_flag_panel .inner_flag_panel {
  position: relative;
  margin: 0px auto;
  padding: 5px 0px 0px 0px;
  height: 20px;
}
.v2 .small_flag_panel .inner_flag_panel.statistics {
  width: 75px;
}
.v2 .small_flag_panel .inner_flag_panel.license {
  width: 125px;
}
.v2 .small_flag_panel .inner_flag_panel.address {
  width: 72px;
}
.v2 .small_flag_panel .inner_flag_panel.information {
  width: 90px;
}
.v2 .small_flag_panel .inner_flag_panel.npi {
  width: 75px;
}
.v2 .small_flag_panel .inner_flag_panel.specialty {
  width: 85px;
}
.v2 .small_flag_panel .flag_box {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: -5px;
}
.v2 .small_flag_panel .flag_box.red_flag {
  background: url("../images/inner_pages/provider_flags_spritev2.jpg") left top no-repeat #333333;
}
.v2 .small_flag_panel .flag_box.green_flag {
  background: url("../images/inner_pages/provider_flags_spritev2.jpg") -25px top no-repeat #333333;
}
.v2 #accordion h3 span {
  float:left;
  margin-right:15px;
  position:relative;
}
.v2 #accordion h3 {
  padding-left: 0px;
}
table a.score {
  display: block;
  margin-top: 3px;
}
/***************************************************************************************/
/*************************************************************PROVIDER SEARCH***********/
#provider_stats {
  min-height: 192px;
}
/***************************************************************************************/
/*************************************************************PROVIDER ACTION***********/
.widget {
  position: relative;
  float: left;
  margin:0 5px 20px 18px;
}
.inner_panel_content {
  position: relative;
  float: left;
  border-left:1px solid #c4c5c4;
  border-right:1px solid #c4c5c4;
  min-height: 160px;
}
.widget .panel_left {
  margin-left:10px;
}
.widget3 .inner_panel_content {
  padding: 20px 10px;
  width: 294px;
  height: 190px;
}
.widget3 {
  width: 314px; 
}
.widget3 .module_header {
  border:1px solid #c4c5c4;
  width: 296px;
}
.widget3 .provider_header {
  border:1px solid #c4c5c4;
  background: transparent;
  width: 296px;
  height: 23px;
}
.widget3 .widget_footer {
  width: 314px;
}
.module_header h3 {
  float: left;
  width: 50%;
}
.module_header h3 span {
  display: block;
  padding-top: 8px;
  float: left;
}
.stat_block {
  position: relative;
  float: left;
  padding: 10px 0px;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
}
.widget .stat_group {
  position: relative;
  float: left;
  margin-bottom: 6px;
  width: 100%;
}
.widget .stat_group div {
  margin: 0px;
  padding: 5px 8px;
}
.widget .stat_group .stat_title {
  position: relative;
  text-align: right;
  color: #555555;
  font-size: 13px;
  width: 50px;
  padding:5px 6px 5px 0px;
}
.widget .stat_group .stat_value {
  background:none repeat scroll 0 0 #D6D6D6;
  color:#343434;
  font-size:16px;
  font-weight:bold;
  position:relative;
/*  text-align:center;*/
  width:55px;
  border:1px solid #D7D6D6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#e1e1e1));
  background-image: -moz-linear-gradient(19% 75% 90deg,#e1e1e1, #f0f0f0);
}
.widget .stat_group div.stat_flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 29px;
  padding: 0px;
}
.stat_flag_red {
  background: url("../images/inner_pages/stat_flags.jpg") 0px 0px no-repeat;
}
.stat_flag_green {
  background: url("../images/inner_pages/stat_flags.jpg") -20px 0px no-repeat;
}
.stat_flag_orange {
  background: url("../images/inner_pages/stat_flags.jpg") -40px 0px no-repeat;
}
.stat_flag_yellow {
  background: url("../images/inner_pages/stat_flags.jpg") -60px 0px no-repeat;
}
.stat_flag_blue {
  background: url("../images/inner_pages/stat_flags.jpg") -80px 0px no-repeat;
}
.widget .stat_group .stat_range {
  position: relative;
  text-align: left;
  color: #333;
  font-size: 12px;
  font-weight: bold;
}
#provider_action_chart {
  margin-left: -7px;
}
/***************************************************************************************/
/**********************************************************REPORTS CENTER***************/
.basic_panel_6, .combo_panel_6 {
  margin-left:10px;
  width:228px;
}
.basic_panel_8, .combo_panel_8 {
  margin-left:10px;
  width:247px;
}
.report_panel_wrap {
  float:left;
  margin-top: 0px;
  padding-left:9px;
  padding-top:10px;
}
#inner_panel h3.report {
  background:url("../images/inner_pages/page_header_bg.jpg") repeat-x scroll left top transparent;
  float:left;
  font-size:14px;
  font-weight:bold;
  height:17px;
  padding:10px 9px 14px;
  position:relative;
  text-align:left;
}
/***************************************************************************************/
/*************************************************************HELP CENTER***************/
#help_center_wrap {
  position: relative;
  width: 982px;
  margin: 20px;
  float: left;
}
#help_east {
  position: relative;
  float: left;
  margin: 0px;
  width: 219px;
}
#help_center {
  position: relative;
  float: left;
  width: 500px;
}
#help_center input[type="text"] {
  float:left;
  width:275px;
}
#help_center_tabs {
  position: relative;
  float: left;
  width: 489px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#help_center_tabs ul.main {
  position: relative;
  float: left;
  width:489px;
  border-bottom: 1px solid #c0c0c0;
}
#help_center_tabs ul.main li {
  position: relative;
  float: left;
  margin-right: 1px;
  height: 30px;
  text-align: center;
  background: #E63C2B url(../images/message/button_bg-red.png) 0px 0px repeat-x;
}
#help_center_tabs ul.main li:hover {
  background: #eee;
}
#help_center_tabs ul.main li a {
  position: relative;
  float: left;
  height: 29px;
  padding:8px 30px;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #f2a66d;
}
#help_center_tabs ul.main li a:hover, #help_center_tabs ul.main li.active a {
  text-decoration: none;
  color: #333;
  border-top: 1px solid #efefef;
}
 #help_center_tabs ul.main li.active a {
   border-top: 1px solid #efefef;
 }
#help_center_tabs ul.main li.active {
  background:none repeat scroll 0 0 #E4E3E4;
  border-color:#C0C0C0 #C0C0C0 #DDDDDD;
  border-style:solid;
  border-width:1px;
  margin-bottom:-2px;
  color: #333;
}
#help_search {
  float:left;
  padding:20px;
  position:relative;
  width:449px;
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
#help_search_field {
  width: 250px;
}
#center_help_content_wrap {
  position: relative;
  border-top: 1px solid #c0c0c0;
  width: 489px;
  height: 471px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
}
#help_east {
  border: 1px solid #C0C0C0;
}
#help_east .sidebar_panel {
  border-bottom:1px solid #C0C0C0;
  border-top: 1px solid #efefef;
  padding: 5px 14px;
  position:relative;
  width: 191px;
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
#help_east .sidebar_panel.last {
  border-top: 1px solid #efefef;
  border-bottom: none;
  background: none;
  height: 343px;
}
#help_west {
  background:none repeat scroll 0 0 #F2F2F2;
  float:left;
  margin-right:20px;
  position:relative;
  width:210px;
}
.help_sidebar_panel {
  border-color:#EFEFEF #C0C0C0 #C0C0C0;
  border-right:1px solid #C0C0C0;
  border-style:solid;
  border-width:1px;
  float:left;
  padding:8px 15px;
  width:178px;
}
.help_sidebar_dark {
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
.help_sidebar_panel h3 {
  margin: 10px 0px;
  font-weight: bold;
}
.help_sidebar_panel p {
  margin-bottom: 10px;
}
.help_topics {
  min-height: 314px;
}
.help_btn {
  background:url("../images/message/button_bg-red.png") repeat-x scroll left top #E63C2B;
  border:1px solid #9E2A1E;
  display:block;
  height:29px;
  position:relative;
  width:208px;
}
.help_btn div {
  border-left:1px solid #9E2A1E;
  border-top:1px solid #E56B5F;
  color:#FFFFFF;
  display:block;
  float:right;
  height:18px;
  padding:6px 10px 5px;
  width:150px;
}
.help_btn span {
  background:url("../images/inner_pages/table_icon_sprite.png") no-repeat scroll -72px -376px transparent;
  border-right:1px solid #e56b5f;
  border-top:1px solid #e56b5f;
  display:block;
  float:left;
  height:29px;
  position:relative;
  width:36px;
}
.help_panel {
  position: relative;
  float: left;
  background: #E4E3E4;
  border: 1px solid #c0c0c0;
  border-top: none;
  width: 489px;
  height: 552px;
}
/***************************************************************************************/
/*********************************************************MESSAGE CENTER****************/
#message_center_wrap {
  position: relative;
  width: 982px;
  margin: 10px 20px;
  float: left;
}
#message_center_breadcrumb {
  position: relative;
  float: left;
  padding: 3px 0px;
  width: 954px;
}
#message_center_breadcrumb ul, #message_center_breadcrumb ul li, #message_center_breadcrumb ul li a {
  position: relative;
  float: left;
}
#message_center_breadcrumb ul li a {
  display: block;
  padding: 0px 5px 10px;
}
#message_center_breadcrumb ul li a.first {
  padding-left: 0px;
}
#message_sidebar {
  background:none repeat scroll 0 0 #F2F2F2;
  float:left;
  margin-right:20px;
  min-height:605px;
  position:relative;
  width:242px;
}
.profile_image {
  float:left;
  height:75px;
  position:relative;
  width:174px;
}
.message_sidebar_panel {
  float:left;
  padding: 8px 15px;
  width: 210px;
  border: 1px solid #c0c0c0;
  border-top: 1px solid #efefef;
}
.message_sidebar_dark {
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
.message_sidebar_panel.contact_information {
  min-height: 330px;
}
.message_sidebar_panel h3 {
  font-weight: bold;
  padding-bottom:8px;
  width:100%;
}
.message_count_block {
  float:left;
  height:50px;
  position:relative;
  text-align:center;
  width:60px;
}
.message_count_block .count_block {
  position: relative;
  float: left;
  height: 20px;
  width: 38px;
  padding: 5px 10px;
  border: 1px solid #c36b2a;
  background: #d36c21 url(../images/message/button_bg-orange.png) 0px 0px repeat-x;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.message_count_block.middle {
  margin: 0px 15px;
}
.message_count_block .count_label {
  margin-top: 2px;
  float: left;
  width: 60px;
}
.message_sidebar_panel.contact_information ul li {
  height:13px;
  margin:10px 0;
  padding:6px 0 0 28px;
  width:100%;
}
.message_sidebar_panel.contact_information ul li.email {
  background: url('../images/inner_pages/table_icon_sprite.png') -0px -357px no-repeat;
}
.message_sidebar_panel.contact_information ul li.contact {
  background: url('../images/inner_pages/table_icon_sprite.png') -0px -339px no-repeat;
} 
#message_center_tabs {
  position: relative;
  float: left;
  width: 704px;
  margin-right: 14px;
  margin-bottom: 20px;
}
#message_center_tabs ul {
  position: relative;
  float: left;
  width:722px;
  border-bottom: 1px solid #c0c0c0;
}
#message_center_tabs ul li {
  position: relative;
  float: left;
  margin-right: 1px;
  height: 30px;
  text-align: center;
  background: #d36c21 url(../images/message/button_bg-orange.png) 0px 0px repeat-x;
}
#message_center_tabs ul li:hover {
  background: #eee;
}
#message_center_tabs ul li a {
  position: relative;
  float: left;
  height: 29px;
  padding:8px 30px;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #f2a66d;
}
#message_center_tabs ul li a:hover, #message_center_tabs ul li.active a {
  text-decoration: none;
  color: #333;
  border-top: 1px solid #efefef;
}
 #message_center_tabs ul li.active a {
   border-top: 1px solid #efefef;
 }
#message_center_tabs ul li.active {
  background:none repeat scroll 0 0 #E4E3E4;
  border-color:#C0C0C0 #C0C0C0 #DDDDDD;
  border-style:solid;
  border-width:1px;
  margin-bottom:-2px;
  color: #333;
}
#post_block {
  float:left;
  padding:14px;
  position:relative;
  width:692px;
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
#posts {
  position: relative;
  float:left;
  border-top: 1px solid #c0c0c0;
  background: #fff;
}
#post_header {
  background:none repeat scroll 0 0 #ededed;
  border-bottom:1px solid #C0C0C0;
  float:left;
  padding:7px 0;
  position:relative;
  width:720px;
}
#post_header h2 {
  color:#555555;
  float:left;
  font-size:16px;
  height:25px;
  margin-left:18px;
}
.post_btn {
  background:url("../images/inner_pages/page_header_bg.jpg") repeat-x scroll left bottom #F2F2F2;
  border:1px solid #C0C0C0;
  color:#666666;
  font-size:14px;
  margin-left:14px;
  margin-top:5px;
  padding:6px 10px;
  position:relative;
  width:63px;
}
#message_center_tabs #center_message_content_wrap {
  border:medium none;
  float:left;
  margin:0;
  width:720px;
  height:389px;
}
.v2 .message_reply {
  background:none repeat scroll 0 0 #F3F3F3;
  float:left;
  margin-left:85px;
  margin-top:10px;
  padding:20px;
  position:relative;
  width:500px;
}
.message_panel {
  position: relative;
  float: left;
  background: #E4E3E4;
  border: 1px solid #c0c0c0;
  border-top: none;
  width: 720px;
  height: 573px;
}
.follow_btn {
  background:url("../images/message/button_bg-orange.png") repeat-x scroll left top #F2F2F2;
  border:1px solid #C36B2A;
  display:block;
  height:29px;
  position:relative;
  width:240px;
}
.follow_btn a {
  border-left:1px solid #C36B2A;
  border-top:1px solid #F2A66D;
  color:#FFFFFF;
  display:block;
  float:right;
  height:18px;
  padding: 6px 10px 5px;
  width:182px;
}
.follow_btn span {
  background:url("../images/inner_pages/table_icon_sprite.png") no-repeat scroll -32px -376px transparent;
  border-right:1px solid #F2A66D;
  border-top:1px solid #F2A66D;
  display:block;
  float:left;
  height:29px;
  position:relative;
  width:36px;
}
/***************************************************************************************/
/******************************************************IDEA FORUM CENTER****************/
#idea_forum_center_wrap {
  position: relative;
  width: 982px;
  margin: 10px 20px;
  float: left;
}
#idea_forum_sidebar {
  background:none repeat scroll 0 0 #F2F2F2;
  float:left;
  margin-right:20px;
  position:relative;
  width:242px;
}
.idea_forum_sidebar_panel {
  float:left;
  padding: 8px 15px;
  width: 210px;
  border: 1px solid #c0c0c0;
  border-top: 1px solid #efefef;
}
.idea_forum_sidebar_dark {
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
.idea_forum_sidebar_panel.categories_information {
  min-height: 245px;
}
.idea_forum_sidebar_panel h3 {
  font-weight: bold;
  padding-bottom:8px;
  width:100%;
}
.idea_forum_sidebar_panel.categories_information ul li {
  height:13px;
  margin:10px 0;
  padding:6px 0 0 28px;
  width:100%;
}
.idea_forum_sidebar_panel.categories_information ul li.email {
  background: url('../images/inner_pages/table_icon_sprite.png') -0px -357px no-repeat;
}
.idea_forum_sidebar_panel.categories_information ul li.contact {
  background: url('../images/inner_pages/table_icon_sprite.png') -0px -339px no-repeat;
} 
#idea_forum_center_tabs {
  position: relative;
  float: left;
  width: 704px;
  margin-right: 14px;
  margin-bottom: 20px;
}
#idea_forum_center_tabs ul.main {
  position: relative;
  float: left;
  width:722px;
  border-bottom: 1px solid #c0c0c0;
}
#idea_forum_center_tabs ul.main li {
  position: relative;
  float: left;
  margin-right: 1px;
  height: 30px;
  text-align: center;
  background: #d36c21 url(../images/message/button_bg-yellow.png) 0px 0px repeat-x;
}
#idea_forum_center_tabs ul.main li:hover {
  background: #eee;
}
#idea_forum_center_tabs ul.main li a {
  position: relative;
  float: left;
  height: 29px;
  padding:8px 30px;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #f2a66d;
}
#idea_forum_center_tabs ul.main li a:hover, #idea_forum_center_tabs ul li.active a {
  text-decoration: none;
  color: #333;
  border-top: 1px solid #efefef;
}
 #idea_forum_center_tabs ul.main li.active a {
   border-top: 1px solid #efefef;
 }
#idea_forum_center_tabs ul.main li.active {
  background:none repeat scroll 0 0 #E4E3E4;
  border-color:#C0C0C0 #C0C0C0 #DDDDDD;
  border-style:solid;
  border-width:1px;
  margin-bottom:-2px;
  color: #333;
}
#idea_forum_block {
  float:left;
  padding:14px;
  position:relative;
  width:692px;
  background: #e4e3e4 url(../images/misc/gray_panel_bg.png) left bottom repeat-x;
}
#idea_forum_posts {
  position: relative;
  float:left;
  background: #fff;
}
#idea_forum_header {
  background:none repeat scroll 0 0 #E4E3E4;
  border-bottom:1px solid #C0C0C0;
  float:left;
  padding:10px 0px;
  position:relative;
  width:720px;
}
#idea_forum_header h4 {
  color:#555555;
  float:left;
  font-size:12px;
  height:25px;
  margin-left:18px;
  margin-top: 4px;
}
#idea_forum_center_tabs #center_idea_forum_content_wrap {
  border:medium none;
  float:left;
  height:452px;
  margin:0;
  overflow-x:hidden;
  overflow-y:scroll;
  width:720px;
}
.idea_forum_panel {
  position: relative;
  float: left;
  background: #E4E3E4;
  border: 1px solid #c0c0c0;
  border-top: none;
  width: 720px;
  height: 502px;
}
.idea_forum_btn {
  background:url("../images/message/button_bg-yellow.png") repeat-x scroll left top #fdb518;
  border:1px solid #c99012;
  display:block;
  height:29px;
  position:relative;
  width:240px;
}
.idea_forum_btn a {
  border-left:1px solid #c99012;
  border-top:1px solid #fbce6a;
  color:#FFFFFF;
  display:block;
  float:right;
  height:18px;
  padding: 6px 10px 5px;
  width:182px;
}
.idea_forum_btn span {
  background:url("../images/inner_pages/table_icon_sprite.png") no-repeat scroll 7px -437px transparent;
  border-right:1px solid #fbce6a;
  border-top:1px solid #fbce6a;
  display:block;
  float:left;
  height:29px;
  position:relative;
  width:36px;
}
.feedback_list_item div.list_item_right h3 {
  margin-bottom:0px;
}
.feedback_list_item {
  border-bottom:1px solid #C0C0C0;
  float:left;
  margin:0 20px;
  padding: 20px 0;
  position:relative;
  width:676px;
}
.forum_message_meta {
  font-size: 10px;
  margin: 5px 0px;
}
#idea_search_buttons {
  text-align:right;
  width:208px;
}
input#idea_search {
  width: 195px;
}
.list_item_contact_wrap {
  float:left;
  margin-top:15px;
  position:relative;
  width: 280px;
}
.list_item_contact_wrap div.link_wrap {
  position: relative;
  float: left;
  width: 130px;
  margin-right:10px;
}
.list_item_contact_wrap div span {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
.list_item_contact_wrap a {
  float: left;
  color:#2070B5;
}
.list_item_contact_wrap div span.comment_count {
  background:url("../images/inner_pages/table_icon_sprite.png") no-repeat 0px -481px transparent;
}
.list_item_contact_wrap div span.add_comment {
  background:url("../images/inner_pages/table_icon_sprite.png") no-repeat 0px -502px transparent;
}
/***************************************************************************************/
/*************************************************************Profile Container*********/

/*
* UI
*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}


.mb-resize{
	display:block;
	background-color:transparent !important;
	border:3px solid transparent !important;
  *border:5px solid transparent !important;
  margin:0 !important;
}

.mb-resize-resizable-n { cursor: e-resize; width: 100% !important; height: 20px !important; right: 0 !important; top: -10px !important; z-index:auto !important;}
.mb-resize-resizable-e { cursor: e-resize; width: 5px !important; height: 100% !important; right: 0 !important; top: 0 !important;z-index:auto !important;}
.mb-resize-resizable-w { cursor: e-resize; width: 5px !important; height: 100% !important; left: -5px !important; top: 0 !important;z-index:auto !important;}
.mb-resize-resizable-s { cursor: s-resize; width: 100% !important; height: 10px !important; bottom: -5 !important; left: 0 !important;z-index:auto !important; }
.mb-resize-resizable-se { cursor: se-resize; width: 10px !important; height: 10px !important; right:-5px !important; bottom: -5px !important; z-index:auto !important;}

.mbproxy{border:1px dotted gray;background: url(../elements/proxy.png)}

.containerPlus {font-family:Verdana; font-size:13px; visibility:hidden; width:900px;};
.containerPlus .spacer {margin-top:10px}
.containerPlus .buttonBar { position:relative;top:0;float:right;margin-top:-23px; margin-right:15px}
.containerPlus .buttonBar img {margin-left:5px}
.containerPlus .mbcontainercontent {margin-right:-15px; padding-right:10px;overflow:auto;}

/*.iconLabel{font-family:sans-serif;font-size:10px;padding:5px;background:black;color:white;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;}*/

.iconLabel{font-family:sans-serif;font-size:10px;padding:5px;background:#f3f3f3;color:gray;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc}

/*
* default
*/
.containerPlus .no	{ background: url('../elements/default/no.png') top left no-repeat; }
.containerPlus .ne	{ background: url('../elements/default/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus .ne img	{left:-10px; top:-10px}
.containerPlus .n	{ background: url('../elements/default/n.png') top center repeat-x; margin-right: 20px; -moz-user-select: none; -khtml-user-select: none}
.containerPlus .n	{ padding-top:8px;height:26px; font-size:15px; white-space:nowrap;overflow:hidden;}
.containerPlus .n	a{ text-decoration:none;color:#000; font-size:15px;}

.containerPlus .o	{ background: url('../elements/default/o.png') top left repeat-y;}
.containerPlus .e	{ background: url('../elements/default/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus .c { background: url('../elements/default/c.png'); margin-right: 23px; padding-top: 1px; padding-bottom: 1px; }

.containerPlus .so	{ background: url('../elements/default/so.png') bottom left no-repeat;}
.containerPlus .se	{ background: url('../elements/default/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus .s { background: url('../elements/default/s.png') bottom repeat-x; padding-top: 20px; margin-right: 23px;}


/*
* black
*/
.containerPlus.black .no	{ background: url('../elements/black/no.png') top left no-repeat}
.containerPlus.black .ne	{ background: url('../elements/black/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus.black .n	{ background: url('../elements/black/n.png') top center repeat-x; margin-right: 25px;height:26px;}
.containerPlus.black .n	{ padding-top:8px;font-size:15px; color:white;-moz-user-select: none; -khtml-user-select: none}
.containerPlus.black .n	a{ text-decoration:none;color:#fff; font-size:15px; white-space:nowrap;overflow:hidden;}

.containerPlus.black .o	{ background: url('../elements/black/o.png') top left repeat-y;}
.containerPlus.black .e	{ background: url('../elements/black/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus.black .c { background: url('../elements/black/c.png'); margin-right: 25px; padding-top: 1px; padding-bottom: 1px; }
.containerPlus.black .c .mbcontainercontent {color:white;}
.containerPlus.black .c .mbcontainercontent a {color:white;}

.containerPlus.black .so	{ background: url('../elements/black/so.png') bottom left no-repeat;}
.containerPlus.black .se	{ background: url('../elements/black/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus.black .s { background: url('../elements/black/s.png') bottom repeat-x; padding-top: 20px; margin-right: 25px;}

/*
* white
*/
.containerPlus.white .no	{ background: url('../elements/white/no.png') top left no-repeat;}
.containerPlus.white .ne	{ background: url('../elements/white/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus.white .n	{ background: url('../elements/white/n.png') top center repeat-x; margin-right: 25px;height:26px;}
.containerPlus.white .n	{ padding-top:8px; font-size:16px;-moz-user-select: none; -khtml-user-select: none}

.containerPlus.white .o	{ background: url('../elements/white/o.png') top left repeat-y;}
.containerPlus.white .e	{ background: url('../elements/white/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus.white .c { background: url('../elements/white/c.png'); margin-right: 25px; padding-top: 1px; padding-bottom: 1px; }
.containerPlus.white .c .mbcontainercontent {color:#000;}
.containerPlus.white .n	a{}
.containerPlus.white .n	a:hover{ text-decoration:underline}

.containerPlus.white .so	{ background: url('../elements/white/so.png') bottom left no-repeat;}
.containerPlus.white .se	{ background: url('../elements/white/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus.white .s { background: url('../elements/white/s.png') bottom repeat-x; padding-top: 20px; margin-right: 25px;}


/*
* alert
*/
.containerPlus.alert .no	{ background: url('../elements/alert/no.png') top left no-repeat;}
.containerPlus.alert .ne	{ background: url('../elements/alert/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus.alert .n	{ background: url('../elements/alert/n.png') top center repeat-x; margin-right: 25px;height:26px;}
.containerPlus.alert .n	{ padding-top:8px; font-size:16px;-moz-user-select: none; -khtml-user-select: none}

.containerPlus.alert .o	{ background: url('../elements/alert/o.png') top left repeat-y;}
.containerPlus.alert .e	{ background: url('../elements/alert/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus.alert .c { background: url('../elements/alert/c.png'); margin-right: 25px; padding-top: 1px; padding-bottom: 1px; }
.containerPlus.alert .c .mbcontainercontent {color:#000;}
.containerPlus.alert .n	a{}
.containerPlus.alert .n	a:hover{ text-decoration:underline}

.containerPlus.alert .so	{ background: url('../elements/alert/so.png') bottom left no-repeat;}
.containerPlus.alert .se	{ background: url('../elements/alert/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus.alert .s { background: url('../elements/alert/s.png') bottom repeat-x; padding-top: 20px; margin-right: 25px;}

