html, body {
  position: relative;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  font-size: 85%;
  height: 100%;
	width: 100%;
	float:left;
	background: #222;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto 0px;
}
#hd, #bd, #ft {
  float: left;
}
#login_wrapper {
  position: relative;
  margin: 130px auto;
  width: 760px;
  height: 470px;
  padding: 0px 0px 20px;
  background: #333;
}
#hd, #bd {
  position: relative;
  text-align: left;
	width: 100%;
/*  min-width: 1024px;*/
}
.grey_header {
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  background: #585958;
  padding-left: 20px;
  padding-top: 5px;
  color: #CFCFCF;
  text-shadow: 0px 1px 1px #333;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
}
a {
  color: #555;
}
a:hover {
  color: #2070b5;
}
.hide_text {
  text-indent: -3000em;
}
p {
  line-height: 16.35px;
}
.content_wrap {
  margin: 20px 0px;
}
.top_20_wrap {
  margin: 20px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.side_wrap {
	margin-left: 10px;
	margin-right: 10px;
}
.full_20_wrap {
	margin: 20px;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 10px;
}
.space_right {
  margin-right: 10px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.important {
  color: red;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
/***Firefox dotted line tweak***/
a, button {
  outline: none;
}
:focus, button {
  -moz-outline-style: none;
}
a:active, button:active {
  outline: none;
}
.green_background {
  background: #6ac520;
}
.green {
  color: #6ac520;
}
.grey_background {
  background: #d2d3d3 url('../images/login/grey_bg_gradient.jpg') left top repeat-x;
}
/******************************************/
/*******************ERRORS*****************/
.flash_wrap {
	background:none repeat scroll 0 0 #333333;
	color:#FFFFFF;
	font-size:150%;
	left:50%;
	margin-left:-300px;
	padding:14px;
	position:absolute;
	text-align:center;
	width:600px;
	z-index:100;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
label.error {
  background:#FFFFFF none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  margin-left:10px;
  margin-top:2px;
  padding:0;
  position:absolute;
}
/*********************************************/
/*****************HEADER**********************/
#hd {
  height: 80px;
}
#logo {
  position: relative;
  width: 138px;
  height: 46px;
	float: left;
	text-indent: -3000em;
  background: url('../images/header/logo.png') no-repeat;
  margin-left: 10px;
}
#hd #brand_wrap {
	position: relative;
	float: right;
	height: 29px;
	top: 18px;
	margin-right: 6px;
}
#client_name {
	position: relative;
	height: 15px;
	padding: 7px 0px;
	float: right;
	color: #fff;
	margin-right: 10px;
	top: 26px;
}
/*******Navigation********/
#nav_wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
	background: url('../images/header/main_nav_bg.png') 0px 0px repeat-x;
}
ul.nav_ul {
  position: relative;
  float: left;
  min-height: 29px;
  margin-left: 4px;
}
ul.secondary_nav_ul {
  margin-left: 30px;
}
ul.nav_ul li {
  width: 63px;
  height: 15px;
	padding: 7px 0px;
  float: left;
  text-align: center;
	border-right: 1px solid #424342;
}
ul.nav_ul li.last {
	border-right: none;
}
ul.nav_ul li:hover {
	background: url('../images/header/main_nav_bg.png') 0px -29px repeat-x;
}
ul.nav_ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 29px;
	color: #c9cdca;
}
ul.nav_ul li a:hover {
	color: #efefef;
}
ul.icon_nav {
	position: relative;
	float: right;
	min-height: 29px;
	margin-right: 11px;
}
ul.icon_nav li {
  width: 30px;
  height: 29px;
  float: left;
}
ul.icon_nav li a {
  text-indent: -3000em;
  display: block;
  width: 100%;
  height: 100%;
}
ul.icon_nav li#icon_nav_1 {
	background: url('../images/header/icon_nav.png') 0px 0px no-repeat;
}
ul.icon_nav li#icon_nav_1:hover {
	background: url('../images/header/icon_nav.png') 0px -29px no-repeat;
}
ul.icon_nav li#icon_nav_2 {
	background: url('../images/header/icon_nav.png') -30px 0px no-repeat;
}
ul.icon_nav li#icon_nav_2:hover {
	background: url('../images/header/icon_nav.png') -30px -29px no-repeat;
}
ul.icon_nav li#icon_nav_3 {
	background: url('../images/header/icon_nav.png') -60px 0px no-repeat;
}
ul.icon_nav li#icon_nav_3:hover {
	background: url('../images/header/icon_nav.png') -60px -29px no-repeat;
}
ul.icon_nav li#icon_nav_4 {
	background: url('../images/header/icon_nav.png') -90px 0px no-repeat;
}
ul.icon_nav li#icon_nav_4:hover {
	background: url('../images/header/icon_nav.png') -90px -29px no-repeat;
}
ul.icon_nav li#icon_nav_5 {
	background: url('../images/header/icon_nav.png') -120px 0px no-repeat;
}
ul.icon_nav li#icon_nav_5:hover {
	background: url('../images/header/icon_nav.png') -120px -29px no-repeat;
}
ul.icon_nav li#icon_nav_6 {
	background: url('../images/header/icon_nav.png') -150px 0px no-repeat;
}
ul.icon_nav li#icon_nav_6:hover {
	background: url('../images/header/icon_nav.png') -150px -29px no-repeat;
}
ul.icon_nav li#icon_nav_7 {
	background: url('../images/header/icon_nav.png') -180px 0px no-repeat;
}
ul.icon_nav li#icon_nav_7:hover {
	background: url('../images/header/icon_nav.png') -180px -29px no-repeat;
}
/*********************************************/
/*****************MAIN CONTENT****************/
#bd {
  height: 100%;
  background: #fff;
}
#main_content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
  background: #e7e7e7;
}
/***Panels***/
#panel_layout {
  position: relative;
  width: 1024px;
  text-align: left;
  margin: 0px auto;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  background: #ffffff;
}
#padded_panel_layout {
  position: relative;
  float: left;
  width: 984px;
  padding: 20px 20px 0px;
}
#panel_layout div#panel_west {
  position: relative;
  width: 220px;
  height: 100%;
  background: #f1f1f1;
  float: left;
}
#panel_layout div#panel_center {
  position: relative;
  float: left;
  width: 804px;
}
#panel_south {
  position: relative;
  float: left;
  width: 100%;
  min-height: 200px;
}
#inner_panel {
  position: relative;
  padding: 20px 0px;
  width: 100%;
  float:left;
}
#west_resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: #f1f1f1;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
#south_resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 6px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}
.resize_vert {
  position: relative;
  top: 50%;
  margin-top: -13px;
  width: 6px;
  height: 26px;
  background: url('../images/inner_pages/resize_handle_vert.jpg') no-repeat;
}
.resize_horz {
  position: relative;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 6px;
  background: url('../images/inner_pages/resize_handle_horz.jpg') no-repeat;
}
.cube_confessions {
  background: url('../images/c2_headers.png') 0px -130px no-repeat;
}
.scaffold_panel {
  position: relative;
  float: left;
  text-align: left;
  margin: 20px;
  padding: 10px 20px 20px;
  border: 1px solid #c0c0c0;
}
.scaffold_panel h2 {
  font-size: 18px;
  color: #c0c0c0;
  font-weight: bold;
}
div.scaffold_pane label {
  font-size: 12px;
}
.scaffold_panel p {
  margin: 10px 0px;
}
.listing_panel {
  position: relative;
  width: 400px;
  margin: 10px 0px;
  padding: 6px 10px;
  float: left;
  border: 1px solid #c0c0c0;
}
.listing_panel a {
  padding: 5px;
}
.contact_form {
	margin-left: 280px;
}
.form_comment {
  font-size: 12px;
  font-weight: bold;
}
.grey_panel {
  background: #e7e7e7;
}
.panel_set, .panel_set_2, .panel_set_3, .panel_set_4 {
  position: relative;
  float: left;
  max-width: 400px;
  margin-bottom: 20px;
}
.panel_set_2 {
  max-width: 322px;
}
.panel_set_3 {
  max-width: 342px;
}
.panel_set_4 {
  max-width: 380px;
}
.basic_panel, .combo_panel, .basic_panel_2, .basic_panel_3, .basic_panel_4, .combo_panel_2, .combo_panel_3, .combo_panel_4 { /** A Combo Panel has sub_panels **/
  position: relative;
  width: 360px;
  margin: 0px 0px 5px 20px;
  padding: 6px 10px;
  float: left;
  border: 1px solid #c0c0c0;
}
.full_panel {
  position: relative;
  width: 100%;
  margin: 0px 0px 5px 0px;
  padding: 6px 10px;
  float: left;
  border: 1px solid #c0c0c0;
}
.basic_panel_2, .combo_panel_2 {
  width: 280px;
}
.basic_panel_3, .combo_panel_3 {
  margin-left: 10px;
  width: 305px;
}
.basic_panel_4, .combo_panel_4 {
  margin-left: 10px;
  width: 335px;
}
.combo_panel {
  width: 380px;
  padding: 0px;
}
.basic_panel h3, .basic_panel h4, .combo_panel h3, .combo_panel h4, .basic_panel_2 h3, .basic_panel_2 h4, .combo_panel_2 h3, .combo_panel_2 h4, .basic_panel_3 h3, .basic_panel_3 h4, .combo_panel_3 h3, .combo_panel_3 h4,.basic_panel_4 h3, .basic_panel_4 h4, .combo_panel_4 h3, .combo_panel_4 h4, .full_panel h3, .full_panel h4 {
  font-size: 14px;
  color: #555;
  padding: 5px 5px 5px 0px;
  float: left;
}
.basic_panel h4, .combo_panel h4 {
  font-size: 13px;
}
.basic_panel h3 span, .basic_panel h4 span, .combo_panel h3 span, .combo_panel h4 span {
  color: #333;
}
.sub_panel {
  position: relative;
  float: left;
  padding: 6px 10px;
  width: 360px;
  border-bottom: 1px solid #c0c0c0;
}
.sub_panel.last {
  border-bottom: none;
}
.provider_info {
  height: 175px;
  padding: 25px 10px 0px;
}
.provider_stats {
  height: 224px;
  padding: 22px 0px 0px;
}
.provider_chart {
  height: 234px;
}
.provider_action_chart {
  padding: 0px;
}
.panel_left, .panel_right {
  position: relative;
  float: left;
  width: 50%;
}
.panel_item {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.panel_item .panel_item_title, .panel_item .panel_item_value {
  position: relative;
  float: left;
  width: 100%;
}
.panel_item .panel_item_value {
  font-weight: bold;
}
/****Login Page****/
#login_left, #login_right {
  position: relative;
  float: left;
  text-align: left;
  width: 325px;
  height: 300px;
  margin: 42px 0px 60px 40px;
}
#login_left h1 {
  position: relative;
  width: 290px;
  height:61px;
  text-indent: -3000em;
  background: transparent url('../images/login/nucleus_logo.jpg') no-repeat;
  margin-top: -18px;
}
#login_left h2.login {
  font-weight: bold;
  font-family: Arial, Helvetica, Geneva, sans-serif; 
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
#login_left h2.register {
	margin-top: 5px;
  margin-bottom: 5px;
}
#login_right {
  width: 345px;
  height: 350px;
  border-left: 1px solid #c0c0c0;
  margin: 42px 40px 60px 0px;
	background: #fff url('../images/login/hci_logo.jpg') right bottom no-repeat;
}
.login_sub_box, .login_fields_wrap {
	position: relative;
	width: 282px;
	height: 123px;
	padding: 5px 10px 0px;
	margin-left: 40px;
	margin-top: 1px;
	margin-bottom: 20px;
	border: 1px solid #c0c0c0;
	background: #fff url('../images/login/sub_box_bg_x.jpg') left top repeat-x;
}
.login_fields_wrap {
  width: 268px;
  padding: 10px 0px 10px 20px;
  margin: 1px 0px 20px 0px;
}
.login_sub_box p {
  font-size: 13px;
  margin-bottom: 11px;
  text-align: center;
  color: #666666;
}
.login_sub_box p b {
  color: #444444;
  font-size: 14px;
}
.login_rss {
  position: relative;
  float: left;
  display: block;
  margin: 5px 0px 0px 40px;
  padding-left: 15px;
  background: url('../images/login/login_rss.jpg') left 4px no-repeat;
}
/*****Quick Launch*****/
#quick_launch {
  position: relative;
  margin: 20px auto;
  width: 815px;
  padding: 60px;
  background: #d8d8d8;
}
#quick_launch_top {
  position: relative;
  float: left;
  width: 823px;
  height: 190px;
  border-bottom: 1px solid #c0c0c0;
}
#quick_launch_bottom {
  position: relative;
  float: left;
  width: 823px;
  height: 190px;
  border-bottom: 1px solid #c0c0c0;
  border: none;
}
.quick_launch_box {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
  width: 215px;
  height: 190px;
}
.quick_launch_box a {
  position: relative;
  width: 164px;
  height: 164px;
  display: block;
  cursor: pointer;
  background: #d8d8d8;
  text-indent: -3000em;
}
.quick_launch_box.box1, .quick_launch_box.box4, .quick_launch_box.box5, .quick_launch_box.box8  {
  width: 195px;
}
.quick_launch_box.box4, .quick_launch_box.box8 {
  border: none;
}
.quick_launch_box.box1 a {
  margin: 0px 25px 25px 0px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') 0px 0px no-repeat;
}
.quick_launch_box.box2 a {
  margin: 0px 25px 25px 25px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') -820px 0px no-repeat;
}
.quick_launch_box.box3 a {
  margin: 0px 25px 25px 25px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') -656px 0px no-repeat;
}
.quick_launch_box.box4 a {
  margin: 0px 0px 25px 25px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') -656px 0px no-repeat;
}
.quick_launch_box.box5 a {
  margin: 25px 25px 0px 0px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') 0px 0px no-repeat;
}
.quick_launch_box.box6 a {
  margin: 25px 25px 0px 25px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') -164px 0px no-repeat;
}
.quick_launch_box.box7 a {
  margin: 25px 25px 0px 25px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') -328px 0px no-repeat;
}
.quick_launch_box.box8 a {
  margin: 25px 0px 0px 25px;
  background: url('../images/inner_pages/dashboard_icon_sprite.jpg') -492px 0px no-repeat;
}
/*****Dashboard*****/
#dashboard {
  position: relative;
  width: 984px;
  padding: 20px 0px;
  margin: 20px 50px;
  float:left;
}
.graph_box {
  position: relative;
  float: left;
  width: 460px;
  height: 340px;
}
/***Charts***/
#provider_results_chart {
  margin-bottom: 2px;
}
/******Inner Page General*******/
#page_header {
  position: relative;
  float: left;
  width: 100%;
  height: 26px;
  padding: 7px 0px;
  background: #f2f2f2 url('../images/inner_pages/page_header_bg.jpg') left bottom repeat-x
}
#page_header h2 {
  float: left;
  font-size: 18px;
  margin-left: 18px;
  color: #555;
  font-weight: bold;
  text-shadow: 1px 1px 0px #efefef;
}
#page_header ul.page_nav {
  float: right;
  margin-right: 18px;
}
#page_header ul.page_nav li {
  float: left;
  padding: 0px 5px;
  border-right: 1px solid #555;
  height: 10px;
  margin-top: 7px;
}
#page_header ul.page_nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #555;
  margin-top: -3px;
  font-size: 12px;
}
#page_header ul.page_nav li a:hover {
  color: #2070B5;
}
#panel_layout #top_search {
  position: relative;
  width: 220px;
  padding-bottom: 10px;
}
#provider_stat_date_range_date_range_id {
  margin: 0px;
  width: 173px;
  background: #d2edbc;
  border: 1px solid #c0c0c0;
  padding: 2px;
}
#search_search_topic_id {
  margin: 20px 0px 10px 18px;
  width: 173px;
  background: #d2edbc;
  border: 1px solid #c0c0c0;
  padding: 2px;
}
#search_buttons {
  margin-left: 18px;
  margin-bottom: 10px;
  width: 173px;
  text-align: right;
}
#search_clear {
  margin-right: 10px;
}
#sub_search_params {
  position: relative;
  text-align: left;
}
#sub_search_params {
  width: 202px;
  padding-top: 10px;
  padding-left: 18px;
  overflow: auto;
}
#sub_search_params label {
  font-size: 12px;
}
#sub_search_params select {
  margin: 5px 0px 10px;
  width: 173px;
  background: #fff;
  border: 1px solid #c0c0c0;
  padding: 2px;
  float: left;
}
#sub_search_params input[type="text"] {
  margin: 5px 0px 10px;
  width: 162px;
  background: #fff;
  border: 1px solid #c0c0c0;
  padding: 4px;
  float: left;
}
#sub_search_params input[type="text"]:focus {
  background: #f7fb87;
}
input[type="text"]#claim_sequence_wide {
  width: 112px;
}
input[type="text"]#claim_sequence_short {
  width: 29px;
}
a.search_mag {
  position: relative;
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  text-indent: -3000em;
  margin: 7px 0px 0px 3px;
  background: url('../images/inner_pages/mag_glass.jpg') no-repeat;
}
#search_wrap {
  width: 300px;
  float: right;
  margin-right: 10px;
  text-align: right;
}
#search_wrap input[type='text'] {
  margin: 0px;
  color: #c0c0c0;
}
.search_btn {
  width: 24px;
  height: 25px;
  background: #e7e7e7 url('../images/inner_pages/search_mag.jpg') left top no-repeat;
  border: 1px solid #c0c0c0;
  text-indent: -3000em;
}
span.field_seperator {
  float: left;
  margin: 7px 3px;
}
#provider_rating, #provider_rating_full {
  background: #D3D4D4;
  font-size:18px;
  font-weight:bold;
  height:32px;
  padding:7px 0 0 25px;
  position:absolute;
  right:0;
  top:0;
  width:65px;
}
#provider_rating_full {
  top: 0px;
  left: 0px;
  padding:7px 0px 0 25px;
  margin-right: 25px;
}
#provider_rating.green_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs.png') right -78px no-repeat;
}
#provider_rating_full.green_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left.png') left -78px no-repeat;
}
#provider_rating.yellow_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs.png') right -39px no-repeat;
}
#provider_rating_full.yellow_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left.png') left -39px no-repeat;
}
#provider_rating.red_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs.png') right 0px no-repeat;
}
#provider_rating_full.red_rating {
  background: #D3D4D4 url('../images/inner_pages/provider_rating_discs_left.png') left 0px no-repeat;
}
.provider_heading_full h3 {
  margin-left: 95px;
}
/** Provider Stats **/
#provider_stats, #provider_stats .stat_group {
  position: relative;
  float: left;
}
#provider_stats .stat_group .stat_title {
  position: relative;
  text-align: right;
  color: #555555;
  font-size: 13px;
  width: 70px;
}
#provider_stats .stat_group div {
  padding: 5px 10px;
}
#provider_stats .stat_group .stat_value {
  position: relative;
  text-align: left;
  color: #fff;
  font-size: 16px;
  background: #333;
}
#provider_stats .stat_group .stat_range {
  position: relative;
  text-align: left;
  color: #333;
  font-size: 12px;
  font-weight: bold;
}
#provider_search_table, #provider_action_table {
  position: relative;
  float:left;
  overflow: auto;
}
.provider_flag_panel {
  position: relative;
  float: left;
  width: 300px;
  padding: 15px 0px 15px 15px;
  height: 30px;
  background: #333;
  margin-right: 10px;
  margin-bottom: 10px;
}
.provider_flag_panel .last {
  margin-right: 0px;
}
/*********************************************/
/******************TABLES********************/
.drag_row, .table_select {
  position: relative;
  float: left;
  height: 15px;
  width: 100%;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  background: #D3D4D4;
  color: #818181;
  padding: 5px 0px;
}
.drag_row span {
  padding-left: 20px;
}
.table_select form {
  position: relative;
  float: left;
  margin: 10px 20px;
}
.table_select select {
  width: 173px;
  background: #d2edbc;
  border: 1px solid #c0c0c0;
  padding: 2px;
}
.table_select {
  background: #fff;
  border-bottom: none;
  height: 45px;
  margin-top:6px;
}
table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #c0c0c0;
}
td {
  border-right: 1px solid #c0c0c0;
}
th {
  height: 12px;
  background: url('../images/inner_pages/table_header.jpg') repeat-x;
  color: #c9caca;
  border-right: 1px solid #c9caca;
  padding: 4px 5px 5px;
}
td {
  padding: 5px;
}
td.empty {
  padding: 0px;
}
tr td div.table_note_icon {
  background: url('../images/inner_pages/table_note_icon.jpg') no-repeat;
}
tr td div.table_icon, tr td a.table_icon {
  float: left;
  width: 20px;
  height: 20px;
}
tr td div.table_toggle_icon {
  cursor: pointer;
}
/* Even */
tr td div.table_rating_dot.red_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') 0px 0px;
}
tr td div.table_rating_dot.yellow_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') 0px -20px;
}
tr td div.table_rating_dot.green_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') 0px -40px;
}
tr td div.table_note_icon, tr td a.table_note_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') 0px -60px no-repeat;
}
tr td div.table_mag_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') 0px -80px no-repeat;
}
tr td div.table_toggle_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') 0px -100px no-repeat;
}
/* Odd */
tr.odd td div.table_rating_dot.red_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -20px 0px;
}
tr.odd td div.table_rating_dot.yellow_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -20px -20px;
}
tr.odd td div.table_rating_dot.green_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -20px -40px;
}
tr.odd td div.table_note_icon, tr.odd td a.table_note_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -20px -60px no-repeat;
}
tr.odd td div.table_mag_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -20px -80px no-repeat;
}
tr.odd td div.table_toggle_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -20px -100px no-repeat;
}
/* Active */
tr.active td div.table_rating_dot.red_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -40px 0px;
}
tr.active td div.table_rating_dot.yellow_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -40px -20px;
}
tr.active td div.table_rating_dot.green_dot {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -40px -40px;
}
tr.active td div.table_note_icon, tr.active td a.table_note_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -40px -60px no-repeat;
}
tr.active td div.table_mag_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -40px -80px no-repeat;
}
tr.active td div.table_toggle_icon {
  background: url('../images/inner_pages/table_icon_sprite.jpg') -40px -100px no-repeat;
}
tr td a.table_icon_link {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -3000em;
}
tr td a.note_trigger {
  display: block;
  text-indent: -3000em;
}
/* end */
tr.odd {
  background: #f0f2f0;
}
tr.even {
  background: #fff;
}
tr.active {
  background: #d2edbc;
}
/******Provider Search********/
.provider_search_score {
  width: 35px;
}
.provider_search_note {
  
}
.provider_search_prv_seq {
  width: 45px;
}
.provider_search_provider_name {
  width: 110px;
}
.provider_search_tin {
}
.provider_search_spec {
}
.provider_search_group_name {
  width: 170px;
}
.provider_search_state {
}
.provider_search_ciu {
  width: 60px;
}
.provider_search_condition {
  width: 105px;
}
.provider_search_flagged {
  width: 70px;
}
/*******Provider Action*******/
.provider_action_blank {
  width: 20px;
}
.provider_action_condition {
  min-width: 215px;
}
.provider_action_client_action {
  min-width: 96px;
}
.provider_action_action {
  min-width: 92px;
}
#provider_action {
  min-width: 1024px;
}
/*****Table Toggle Content*******/
.table_toggle_content, .table_toggle_content_section, .table_toggle_content_section_row, .table_content_title, .table_content_value {
  position: relative;
  float: left;
  width: 1009px;
}
.table_toggle_content {
  margin: 5px;
 border: 1px solid #c0c0c0; 
}
.table_toggle_content_section {
  position: relative;
  width: 19.92%;
  border-right: 1px solid #c0c0c0;
}
.table_toggle_content_section.last {
  border-right: none;
}
.table_toggle_content_section_row {
  width: 100%;
}
.table_toggle_content_section_row.odd {
  background: #f0f2f0;
}
.table_content_title {
  padding:5px 0 5px 20px;
  width:50%;
}
.table_content_value {
  font-weight: bold;
  padding: 5px 20px 5px 0px;
  width:30px;
  float:right;
}
/*********************************************/
/******************BUTTONS********************/
.btn {
  background: #222 url('../images/gloss_button_blue.png') bottom left repeat-x;
  padding: 8px; 
  color: #fff;
  border: 1px solid #666; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 3px 10px 10px 0px;
  float: left;
}
.btn:hover {
	color: #fefefe;
  background: #a70d0e;
}
.login_btn {
	position: relative;
	width: 90px;
	height: 34px;
	border: none;
	background: url('../images/login/login_button.jpg') 0px 0px no-repeat;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	text-shadow: 0px 1px 0px #428011;
}
.login_btn:hover {
	background: url('../images/login/login_button.jpg') 0px -34px no-repeat;
	color: #fff;
/*  text-shadow: 0px -1px 0px #428011;*/
}
.medium_btn {
	position: relative;
	width: 63px;
	height: 24px;
	border: none;
	background: url('../images/inner_pages/medium_button.png') 0px 0px no-repeat;
	color: #CFCFCF;
	font-size: 12px;
	padding: 0px;
	text-shadow: 1px 1px 0px #333;
}
.medium_btn:hover {
	background: url('../images/inner_pages/medium_button.png') 0px -24px no-repeat;
	color: #333;
	text-shadow: 1px 1px 0px #efefef;
}
/*********************************************/
/******************FOOTER********************/
#ft {
  position: absolute;
  bottom: 0px;
/*  margin-top: -20px;*/
  width: 100%;
  height: 20px;
  background: #222;
  text-align: left;
  margin-top: 20px;
}
.copyright {
	position: relative;
	margin: 0px 18px;
	color: #c9cdca;
}
/*********************************************/
/******************FORMS********************/
input[type="text"], input[type="password"] {
  padding: 5px;
  border: 1px solid #c0c0c0;
  margin: 5px 0px;
}
label {
  color: #000;
  font-size: 14px;
}
p.small_label label {
  font-size: 11px;
  margin-left: 5px;
}
p.login_checkbox_wrap {
  margin-top: 23px;
}
/********************************************/
/**************CROSSFADE STYLES**************/
.cube_crossfade_wrap {
	position: relative;
	overflow: hidden;
}
.cube_crossfade_wrap ul li {
	position: absolute;
	top: 0;
	z-index: 0;
}
/********************************************/
/**************OVERLAY STYLES****************/

/*/* overlay size and background image */ 
div.overlay { 
    position: relative;
    width:530px; 
    /*background-image:url(../images/overlay/apple.png); */
    background: #fff;
    display:none; 
    padding: 0 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
} 
 
/* close button for overlay */ 
div.overlay div.close { 
    background:url(../images/overlay/apple-close.png) no-repeat; 
    position:absolute; 
    top:6px; 
    right:-5px; 
    width:35px; 
    height:35px; 
    cursor:pointer; 
}
.contentWrap {
  position: relative;
  float: left;
  text-align: left;
  margin: 20px;
}
/***Modals***/
.claim_notes h1 {
  color: #6ac520;
  text-shadow: 1px 1px 1px rgba('0,0,0,.2');
  margin-bottom: 10px;
  font-size: 18px;
}
.note_wrap {
  position: relative;
  float: left;
  padding: 5px 0px;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
}
.note_title {
  position: relative;
  float: left;
  width: 100%;
  color: #555;
  font-size: 14px;
  font-weight: bold;
}
.note_date {
  position: relative;
  float: left;
  width: 100%;
  color: #c0c0c0;
  font-size: 10px;
  font-weight: bold;
}
.claim_notes p {
  position: relative;
  float: left;
  padding: 5px 0px;
}
/* styling for elements inside overlay */ 
.details { 
    position:absolute; 
    top:15px; 
    right:15px; 
    font-size:11px; 
    color:#fff; 
    width:150px; 
} 
 
.details h3 { 
    color:#aba; 
    font-size:15px; 
    margin:0 0 -10px 0; 
}
