/*********************************************/
/*******************GLOBAL********************/
body {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  color: #000;
  font-size: 11px;
}
/*******Provider Action*******/
.provider_action_checkbox {
  min-width: 25px;
}
.provider_action_toggle {
  min-width: 25px;
}
.provider_action_search {
  min-width: 25px;
}
.provider_action_blank {
  min-width: 31px;
}
.provider_action_note {
  min-width: 25px;
}
.provider_action_trigger_date {
  min-width: 74px;
}
.provider_action_condition {
  min-width: 215px;
}
.provider_action_ttl {
  min-width: 68px;
}
.provider_action_client_action {
  min-width: 96px;
}
.provider_action_action, .provider_action_remnd {
  min-width: 92px;
}
#provider_action {
  min-width: 1024px;
}

#schedule_dates input[type="radio"]#schedule_date_no_end {
  margin-left: 20px;
}
/*********************************************/
/*******************HEADER********************/

/*********************************************/
/*****************NAVIGATION******************/

/*********************************************/
/****************MAIN CONTENT*****************/




