
#wrapper {
  height: 768px !important;
	max-height: 768px;
}
#hd, #bd, #ft {
/*  width: 1024px !important;
	max-width: 1024px;*/
}
#hd {
	height: 118px !important;
	max-height: 118px;
}
#bd, #centered_layout {
	height: 650px !important;
	max-height: 650px;
}
#centered_layout {
	border-bottom: none;
}
#panel_layout {
	width: 1024px;
}
#panel_layout div#panel_center {
	width: 804px !important;
}
a {
	-webkit-appearance:none;
	border: none;
	outline: none;
}
input {
	-webkit-appearance:none;
	-webkit-border-radius: none;
}
#search_wrap .search button {
  background:url("../images/inner_pages/table_icon_sprite.png") no-repeat scroll -37px -80px #E7E7E7;
  border:1px solid #C0C0C0;
  height:24px;
  margin:-2px 0px 0 -10px;
  outline:medium none;
  text-indent:-3000em;
  width:24px;
}
/***********************************************************************************************************************/
/********************************************************************************************* DASHBOARD ***************/

/***********************************************************************************************************************/
/****************************************************************************************** CLAIM SEARCH ***************/

/***********************************************************************************************************************/
/**************************************************************************************** MESSAGE CENTER ***************/
#center_message_content_wrap {
	height: 412px !important;
	max-height: 412px;
	overflow-y: scroll;
	overflow-x:hidden;
	border-bottom: 1px solid #c0c0c0;
}
#post_block textarea {
	width: 550px;
}
/***********************************************************************************************************************/
/**************************************************************************************** MESSAGE CENTER ***************/
.sidebar_panel div.help_icon {
	width:128px;
	height: 56px;
}
/***********************************************************************************************************************/
/***************************************************************************************** REPORT CENTER ***************/
#schedule_dates input#schedule_date_no_end[type="radio"] {
  float:left;
  margin-left: 6px;
}
#report_schedule_panel ul li input[type="radio"] {
  float: left;
}
#report_schedule_panel #report_frequency_day_count {
  clear: none;
  margin: -3px 8px 7px 10px;
  width: 20px;
}
#report_schedule .widget_content ul li {
  margin-right: 5px;
}
/***********************************************************************************************************************/
/***************************************************************************************** BUTTONS *********************/
.medium_btn {
	font-size: 11px;
	padding-right: 2px;
	-webkit-appearance:none;
}