body {
	background-color:#333333;
	font:11px Helvetica,Arial,Sans-Serif;
	height:100%;
	margin:0;
	text-align: left;
}
.top_20_wrap {
  margin: 20px 0px;
}
.green {
  color: #6ac520;
}
a {
  color: #6ac520;
  text-decoration: none;
}
a:hover {
  color: #2070b5;
  text-decoration: underline;
}
#wrapper {
	background: #000000 url('../images/login2/wrapper_bg.jpg') 0px 50% repeat-x;
	min-width: 982px;
	display:block;
	height:100%;
	margin:0;
	min-height:592px;
	padding:0;
	position:absolute;
	width:100%;
}
#inner {
	background: transparent url('../images/login2/graphic_bg.jpg') -55px 50% no-repeat;
	color:#F3F3F3;
	display:block;
	height:100%;
	left:0;
	position:static;
	top:0;
	width:100%;
}
#login_wrap {
	height:426px;
	left:50%;
	margin-top:-213px;
	position:absolute;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);
	top:50%;
	width:480px;
}
#logo {
	width: 180px;
	height: 56px;
	text-indent: -3000em;
	background: url('../images/login2/logo.png') no-repeat;
}
h2.sub_title {
	font-size:18px;
	margin-top:10px;
	text-align:left;
	text-shadow:0 1px 1px #444444;
}
.login_sub_box, .login_fields_wrap {
	position: relative;
	width: 282px;
	height: 35px;
	padding: 5px 10px 0px;
	margin-left: 40px;
	margin-top: 1px;
	margin-bottom: 0px;
}
.login_fields_wrap {
  width: 400px;
  padding: 10px 0px 10px 0px;
  margin: 1px 0px 0px 0px;
}
.login_fields_wrap p {
	float: left;
	margin-top: 10px;
}
.login_fields_wrap input {
	padding: 3px;
	margin-right: 5px;
}
/*.login_fields_wrap input:focus {
  border: 1px solid #6AC520;
  background: #efefef;
	padding: 5px;
}*/
.login_rss {
  position: relative;
  float: left;
  display: block;
  margin: 5px 0px 0px 40px;
  padding-left: 15px;
  background: url('../images/login/login_rss.jpg') left 4px no-repeat;
}
.login_btn {
	position: relative;
	width: 90px;
	height: 34px;
	border: none;
	background: url('../images/login/login_button.jpg') 0px 0px no-repeat;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	text-shadow: 0px 1px 0px #428011;
}
.login_btn:hover {
	background: url('../images/login/login_button.jpg') 0px -34px no-repeat;
	color: #fff;
/*  text-shadow: 0px -1px 0px #428011;*/
}