<% content_for :header do %>

<% end %>
<%= render :partial => 'clients/client_settings_header', :locals => {:client => current_client} %>
<div id="panel_layout" class="clear">
  <div id="padded_panel_layout">
    <div class="full_panel client_heading_full">
      <h2 class="register">Client Registration</h2>
      <%= render :partial => 'form' %>
    </div>
    <%= link_to 'Back', client_path(@client) %>
  </div>
  <div class="clear"></div>

</div>
<% content_for :javascripts do %>
  
<% end %>