<div id="login_left">
  <h1 class="med_nucleus_logo">Nucleus</h1>
  <h2 class="register">Client Registration</h2>
  <%= render :partial => 'form' %>
</div>

<div id="login_right">
  <div class="login_sub_box">
    
  </div>
  <div class="login_sub_box">
    
  </div>
</div>