<div class="scaffold_panel">
  <h2>Provider Stats</h2>
  <%= render :partial => 'provider_stats/form', :locals => {:provider => @provider} %>
  <%= link_to 'Back', providers_path, :class => "clear" %>
</div>