<div class="stat_group">
  <div class="stat_title left">Lines</div>
  <div class="stat_value left">
     1.4%
  </div>
  <div class="stat_range left">
    14 of 1013 Lines
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Procedures</div>
  <div class="stat_value left">
     13%
  </div>
  <div class="stat_range left">
    6 of 48 Procedures
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Patients</div>
  <div class="stat_value left">
    3.6%
  </div>
  <div class="stat_range left">
    8 of 225 Patients
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Claims</div>
  <div class="stat_value left">
    1.4%
  </div>
  <div class="stat_range left">
    8 of 561 Claims
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Savings</div>
  <div class="stat_value left">
    2.2%
  </div>
  <div class="stat_range left">
    $1,893 of $84,218 Paid
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Billed</div>
  <div class="stat_value left">
    1.7%
  </div>
  <div class="stat_range left">
    $3,450 of $200,551 Billed
  </div>
</div>