
<div class="stat_group">
  <div class="stat_title left">Patients</div>
  <div class="stat_value left">
    45%
    <div class="stat_flag stat_flag_red"></div>
  </div>
  <div class="stat_range left">
    102 of 225 Patients
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Claims</div>
  <div class="stat_value left">
    37%
    <div class="stat_flag stat_flag_red"></div>
  </div>
  <div class="stat_range left">
    209 of 561 Claims
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Lines</div>
  <div class="stat_value left">
    66%
    <div class="stat_flag stat_flag_orange"></div>
  </div>
  <div class="stat_range left">
    2 of 3
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Billed</div>
  <div class="stat_value left">
    32%
    <div class="stat_flag stat_flag_yellow"></div>
  </div>
  <div class="stat_range left">
    $63,736 of $200,551 Billed
  </div>
</div>
<div class="stat_group">
  <div class="stat_title left">Paid</div>
  <div class="stat_value left">
    40%
    <div class="stat_flag stat_flag_yellow"></div>
  </div>
  <div class="stat_range left">
    $33,611 of $84,218 Paid
  </div>
</div>
