                <div class="table_toggle_content_section">
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Code Pct</div>
                    <div class="table_content_value">100%</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Pat Cnt</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Cnt w/Code</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Total Paid</div>
                    <div class="table_content_value">$4592</div>
                  </div>
                </div>
                <div class="table_toggle_content_section">
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Code Pct</div>
                    <div class="table_content_value">100%</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Pat Cnt</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Cnt w/Code</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Total Paid</div>
                    <div class="table_content_value">$4592</div>
                  </div>
                </div>
                <div class="table_toggle_content_section">
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Code Pct</div>
                    <div class="table_content_value">100%</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Pat Cnt</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Cnt w/Code</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Total Paid</div>
                    <div class="table_content_value">$4592</div>
                  </div>
                </div>
                <div class="table_toggle_content_section">
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Code Pct</div>
                    <div class="table_content_value">100%</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Pat Cnt</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Cnt w/Code</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Total Paid</div>
                    <div class="table_content_value">$4592</div>
                  </div>
                </div>
                <div class="table_toggle_content_section last">
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Code Pct</div>
                    <div class="table_content_value">100%</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Pat Cnt</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row odd">
                    <div class="table_content_title">Pat Cnt w/Code</div>
                    <div class="table_content_value">11</div>
                  </div>
                  <div class="table_toggle_content_section_row even">
                    <div class="table_content_title">Total Paid</div>
                    <div class="table_content_value">$4592</div>
                  </div>
                </div>