<div id="page_header">
  <h2>
    Idea Forum
  </h2>
  <ul class="page_nav">
    <li class="last">
      <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Idea Forum Tutorials", :rel => "#tutorial_modal", :tutorial_page => idea_forum_tutorials_path() %>
    </li>
  </ul>
</div>