<div class="list_item_contact_wrap">
  <div class="link_wrap">
    <span class="comment_count"></span>
    <%= link_to "#{count} Comments", "", :class => "tip", :title => "View all comments" %>
  </div>
  <div class="link_wrap">
    <span class="add_comment"></span>
    <%= link_to "Add a Comment", "", :class => "tip", :title => "Add a comment" %>
  </div>
</div>