<ul id="tab_nav" class="main">
  <li class="active"><%= link_to "Ideas In Development", "#tab1" %></li>
  <li><%= link_to "Popular Ideas", "#tab2" %></li>
  <li><%= link_to "Implemented Ideas", "#tab3" %></li>
</ul>