<ul class="main">
  <li class="active"><%= link_to "Ideas In Development", "#panel1" %></li>
  <li><%= link_to "Popular Ideas", "#panel2" %></li>
  <li><%= link_to "Implemented Ideas", "#panel3" %></li>
</ul>