<%= render :partial => 'feedbacks/feedback_header' %>
<div id="panel_layout" class="feedback_panels clear">
  <div class="panel ui-layout-center">
    <%= render :partial => 'feedbacks/feedback_center' %>
  </div>
  <div class="panel ui-layout-east">
    <div id="user_info">
      <p class="has-layout">
        <%= link_to "Login", "", :class => "tip", :title => "Login to Feedback Forum" %> <span class="">or</span> <%= link_to "Sign Up", "", :class => "tip", :title => "Sign up for a forum account" %> <span class="">|</span> <select style="width: 100px;" onchange="if (this.value) location.href = '?lang='+this.value" name="switch-lang" id="switch-lang" class="select" autocomplete="off"><option selected="selected" value="en">English</option>
      <option value="es">Español</option>
      <option value="de">Deutsch</option>
      <option value="fr">Français</option>
      <option value="nl">Nederlands</option>
      <option value="pt_BR">Português Brasileiro</option>
      <option value="cn">中文 简体</option>
      <option value="ja">日本語</option>
      <option value="fi">Suomi</option>
      <option value="tr">Türkçe</option>
      <option value="no_NB">Norwegian</option>
      <option value="it">Italiano</option>
      <option value="pl">Polski</option></select>
            </p>
      </div>
    <div class="big_vote_box">
      <p><span class="big_number">98</span> votes left!<p>
    </div>
    <h3 class="green_header">What Happens if time runs out?</h3>
    <ul id="feedback_categories" class="side_bar_list clear">
      <li class="basic_header feedback_category active">
        Nucleus Activity Feed
      </li>
      <li class="basic_header feedback_category">
        Contact Nucleus
      </li>
      <li class="basic_header feedback_category">
       All Ideas
      </li>
      <li class="basic_header feedback_category">
        User Interface
      </li>
      <li class="basic_header feedback_category">
        Report Features
      </li>
      <li class="basic_header feedback_category">
        Bug Reports
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
     tabs.setupFeedbackTabs();
     
     $("#search").click( function() {
       baseActions.setInputFilter($(this));
     });
     // Sets Highlight for Active Message Category
     $('li.feedback_category').click(function() {
       baseActions.setActiveMessageGroup($(this));
     });
     
    });
  </script>
<% end %>