<% content_for :page_header do %>
  <%= render :partial => 'feedbacks/feedback_header' %>
<% end %>

<div id="centered_layout" class="idea_forum_panels clear">
  <div id="idea_forum_center_wrap" class="inner_box">
    
    <%# Message Center Sidebar %>
    <div id="idea_forum_sidebar">
      <%= render :partial => 'feedbacks/idea_forum_sidebar' %>
    </div>
    
    <%# Message Center Tabs %>
    <div id="idea_forum_center_tabs">
      <%= render :partial => 'feedbacks/idea_forum_tabs' %>

      <div id="tab1" class="idea_forum_panel">
        <%= render :partial => 'feedbacks/idea_forum_posts' %>
      </div>
      <div id="tab2" class="idea_forum_panel hidden">
        <h2>Panel 2</h2>
      </div>
      <div id="tab3" class="idea_forum_panel hidden">
        <h2>Panel 3</h2>
      </div>
    </div>
    
    <%# End %>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      <% if !ipad? %>
      app.centeredHeight();
      <% end %>
      panels.forumTabs();
      <% if ipad? %>
        scroll.setiPadIdeaScroll();
      <% end %>
      app.tutorialTrigger();
      app.toggleUpload();
    });
  </script>
<% end %>
