<%= render :partial => 'feedbacks/feedback_header' %>
<div id="panel_layout" class="idea_forum_panels clear">
  <div id="idea_forum_center_wrap">
    
    <%# Message Center Sidebar %>
    <div id="idea_forum_sidebar">
      <%= render :partial => 'feedbacks/idea_forum_sidebar' %>
    </div>
    
    <%# Message Center Tabs %>
    <div id="idea_forum_center_tabs">
      <%= render :partial => 'feedbacks/idea_forum_tabs' %>

      <div id="tab1" class="idea_forum_panel">
        <%= render :partial => 'feedbacks/idea_forum_posts' %>
      </div>
      <div id="tab2" class="idea_forum_panel hidden">
        <h2>Panel 2</h2>
      </div>
      <div id="tab3" class="idea_forum_panel hidden">
        <h2>Panel 3</h2>
      </div>
    </div>
    
    <%# End %>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      panels.forumTabs();
      baseActions.tutorialTrigger();
      baseActions.toggleUpload();
    });
  </script>
<% end %>
