<%= render :partial => 'feedbacks/feedback_header' %>
<div id="panel_layout" class="clear">
    <%= image_tag('misc/uservoice_nuc.jpg', :alt => "Nucleus Feedback" ) %>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  
<% end %>