<div id="dash3" class="widget">
  <div class="widget_header">
    <div class="widget_header_top">
      <h3>Savings Tracker by Month</h3>
    </div>
    <div class="widget_header_bottom">
      <div class='widget_header_sub_title'>
        06/01/10 - 10/31/10
      </div>
      <%= render :partial => 'dashboard/widget_options' %>
    </div>
  </div>

  <%# hidden panel %>
  <div class="hidden dashboard_panel_options">
    <%= render :partial => 'dashboard_widgets/savings_tracker' %>
  </div>

  <div class="widget_content">
    <div id="savings_tracker" class="chart">

    </div>
  </div>
</div>