<div id="dash5" class="widget">
  <div class="widget_header">
    <div class="widget_header_top">
      <h3>Provider Population by Risk Level</h3>
    </div>
    <div class="widget_header_bottom">
      <div class='widget_header_sub_title'>
        06/01/10 - 10/31/10
      </div>
      <%= render :partial => 'dashboard/widget_options' %>
    </div>
  </div>
  
  <%# hidden panel %>
  <div class="hidden dashboard_panel_options">
    <%= render :partial => 'dashboard_widgets/risk_category' %>
  </div>
  
  <div class="widget_content">
    <div class="widget_table_header">
      <div class="widget_table_head risk">Score</div>
      <div class="widget_table_head exp">Paid</div>
      <div class="widget_table_head prov">Count</div>
      <div class="widget_table_head percentage">%</div>
    </div>
    <%= render :partial => 'dashboard/provider_population_risk', :locals => {:provider => p} %>
    <div class="widget_table_header">
      <div class="widget_table_head risk">Total</div>
      <div class="widget_table_head exp">$812,252.00</div>
      <div class="widget_table_head prov">4,320</div>
      <div class="widget_table_head percentage">100%</div>
    </div>
  </div>
</div>