<div id="dash7" class="top_left_dashboard graph_box">
  <div class="dashboard_module_header top_provider_block">
    <div class="widget_header_top">
      <h3>HCI News</h3>
    </div>
    <div class="widget_header_bottom">
      <div class='widget_header_sub_title'>
        Updated on 11/02/10
      </div>
      <%= render :partial => 'dashboard/widget_options' %>
    </div>
  </div>
  
  <%# hidden panel %>
  <div class="hidden dashboard_panel_options">
    <%= render :partial => 'dashboard_widgets/savings_by_service' %>
  </div>
  
  <div id="feed_widget" class="widget_content">
    <ul id="feeds">
      
    </ul>
  </div>
  <div class="widget_footer">
    <div class="resize_horz pane_handle_toggle"><div class="toggle_arrow"></div></div>
  </div>
</div>