<div id="dash5" class="top_left_dashboard graph_box">
  <div class="dashboard_module_header top_provider_block">
    <div class="widget_header_top">
      <h3>Provider Population by Risk Category</h3>
    </div>
    <div class="widget_header_bottom">
      <div class='widget_header_sub_title'>
        06/01/10 - 10/31/10
      </div>
      <%= render :partial => 'dashboard/widget_options' %>
    </div>
  </div>
  
  <%# hidden panel %>
  <div class="hidden dashboard_panel_options">
    <%= render :partial => 'dashboard_widgets/risk_category' %>
  </div>
  
  <div class="widget_content">
    <div id="panel_header" class="basic_panel">
      <div class="top_provider_block pro_pop_risk">Risk</div>
      <div class="top_provider_block pro_pop_exp">Total Exposure</div>
      <div class="top_provider_block pro_pop_prov">Providers</div>
      <div class="top_provider_block pro_pop_percentage">Percentage</div>
    </div>
    <%= render :partial => 'dashboard/provider_population_risk', :locals => {:provider => p} %>
  </div>
  <div class="widget_footer">
    <div class="resize_horz pane_handle_toggle"><div class="toggle_arrow"></div></div>
  </div>
</div>