    <div id="dash3" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Savings Tracker by Month</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 3</div>
      <div class="widget_content">
        <div id="savings_tracker" class="chart">

        </div>
      </div>
      <div class="widget_footer">
        <div class="resize_horz pane_handle_toggle"></div>
      </div>
    </div>