<div class="scaffold_panel">
  <h1>Edit Provider Speciality</h1>
  <%= render :partial => 'form' %>
  <%= link_to 'Show', @provider_speciality %> |
  <%= link_to 'Back', provider_specialities_path %>
</div>