<p>
  <b>Speciality code:</b>
  <%=h @provider_speciality.speciality_code %>
</p>

<p>
  <b>Speciality type:</b>
  <%=h @provider_speciality.speciality_type %>
</p>


<%= link_to 'Edit', edit_provider_speciality_path(@provider_speciality) %> |
<%= link_to 'Back', provider_specialities_path %>