<div id="page_header">
  <h2>
    Reports
  </h2>
  <div id="tutorial_trigger">
    <%= link_to "Info", "", :rel => "#coming_soon", :class => "tutorial_trigger tip coming_soon", :title => "Provider Action Tutorials", :rel => "#tutorial_modal", :tutorial_page => report_center_tutorials_path() %>
  </div>
  <ul class="page_nav">

  </ul>
</div>