<div class="scaffold_panel">
  <h2>Edit Location</h2>
  <%= render :partial => 'locations/form', :locals => {:provider => @provider} %>
  <div class="clear"></div>
  <%= link_to 'Show', @location %> |
  <%= link_to 'Back', providers_path %>
</div>