<div class="scaffold_panel">
  <h2>Provider Location</h2>
  <%= render :partial => 'locations/form', :locals => {:provider => @provider} %>
  <div class="clear"></div>
  <%= link_to 'Back', locations_path %>
</div>