<div id="popupContainer" class="containerPlus draggable resizable
      {buttons:'m,i,c', icon:'browser.png', skin:'white',
        width:'500',iconized:'true', dock:'dock', grid:100}"
  style="top:100px;left:400px">
  <div class="no"><div class="ne"><div class="n"></div></div>
  <div class="o"><div class="e"><div class="c">
 <div class="mbcontainercontent">

 </div>
  </div></div></div>
  <div >
  <div class="so"><div class="se"><div class="s"> </div></div></div>
  </div>
  </div>
</div>
