<div class="side_wrap">
  <div id="logo">Nucleus</div>
  <div id="brand_wrap">
  <%= image_tag("header/account_brand.png", :alt => "Molina Healthcare", :id => "account_brand") %>
  </div>
  <div id="client_name">
    Welcome <%= client.first_name %>
  </div>
</div>
<div id="nav_wrapper">
  <%= render :partial => 'layouts/main_nav', :locals => {:client => current_client} %>
  <%= render :partial => 'layouts/icon_nav' %>
</div>
