<div class="overlay" id="overlay"> 
    <div class="close"></div>
    <div id="map" class="contentWrap"></div>
</div>

<div class="overlay" id="overlay2"> 
    <div class="close"></div>
    <div id="map" class="contentWrap"></div>
</div>

<div class="tutorial_overlay" id="tutorial_modal">
  <div class="close"></div>
  <div class="contentWrap"></div>
</div>

