<div class="overlay" id="overlay"> 
    <div class="close"></div>
    <div class="contentWrap"></div>
</div>

<div class="overlay" id="overlay2"> 
    <div class="close"></div>
    <div id="map" class="contentWrap"></div>
</div>

<div class="tutorial_overlay" id="tutorial_modal">
  <div class="close"></div>
  <div class="contentWrap">
    
  </div>
</div>

<div class="coming_soon" id="coming_soon">
  <div class="close"></div>
  <div class="contentWrap">
    <div class='tutorial_header'>
      <div class="modal_claim_wrap">
        <%= image_tag("/images/inner_pages/coming-soon.jpg", :alt => "Coming Soon") %>
      </div>
    </div>
  </div>
</div>

