<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body class="yui-skin-sam green_background">
  <!-- Application Layout -->
  <div id="login_wrapper">
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
    <div id="bd" class="left">
      <%= yield %>
    </div>
	</div>
</body>
</html>